<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sitemap</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        img {
            max-width: 100%;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
{{#each images}}
<div>
    <img src="{{this}}" />
</div>
{{/each}}
</body>
</html>
