{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="검색"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="search-wrap">
                <form>
                    <fieldset>
                        <legend>검색</legend>
                        <div class="search-input">
                            <input type="text">
                            <button type="submit" class="btn-search">검색</button>
                        </div>
                        <dl class="search-category">
                            <dt>카테고리</dt>
                            <dd>
                                <a href="#">SPORTS (43)</a>
                                <a href="#">MEN (3)</a>
                                <a href="#">WOMEN (209)</a>
                                <a href="#">BAG&amp;ACC (2)</a>
                                <a href="#">SPORTS (5)</a>
                            </dd>
                            <dt>브랜드</dt>
                            <dd>
                                <a href="#">SERIES (6)</a>
                                <a href="#" class="active">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                                <a href="#">SERIES (6)</a>
                                <a href="#">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                                <a href="#">SERIES (6)</a>
                                <a href="#">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                                <a href="#">SERIES (6)</a>
                                <a href="#">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                                <a href="#">SERIES (6)</a>
                                <a href="#">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                                <a href="#">SERIES (6)</a>
                                <a href="#">RECODE (52)</a>
                                <a href="#">HEAD (5)</a>
                                <a href="#">WAAC (22)</a>
                            </dd>
                            <dt>가격대</dt>
                            <dd>
                                <a href="#">5만원 이하 (183)</a>
                                <a href="#">5~10만원 (24)</a>
                                <a href="#">10~20만원 (547)</a>
                                <a href="#">20만원 dltkd (47)</a>
                            </dd>
                        </dl>
                        <div class="search-result">
                            <p class="txt"><span>스니커즈</span>에 대한 검색결과 총 <span>52개</span>의 상품이 검색되었습니다.</p>
                            <div class="category-menu">
                                <div class="select-wrap">
                                    <a href="#">최근 등록순</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <!-- prod-wrap -->
                <article class="prod-wrap">
                    <div class="prod-list">
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                        <div class="list">
                            <p class="thumb"><img src="/_ui/img/pc/temp/@225x275.jpg" alt=""></p>
                            <p class="brand">SPASSO</p>
                            <p class="title"><a href="#">잔조직 믹스 매치 캐주얼 점퍼 잔조직 믹스 매치 캐주얼 점퍼</a></p>
                            <p class="price">
                                <del>333,000원</del>
                                109,000원
                            </p>
                            <p class="sale">67%</p>
                        </div>
                    </div>
                    <button type="button" class="list-more">더 보기</button>
                </article>
                <!-- // prod-wrap -->
            </article>

        </section>

    {{/inline}}

{{/desktop/layouts/default}}
