@charset "utf-8";

.sold-out .ch-area {
  input + label {display: none;}
  .check {
    width: 6.133vw;
    height: 6.133vw;
    background: url('/_ui/img/m/icn/icn-check05.png') no-repeat;
    background-size: 100%;
  }
}
.cart {
  .top {
    overflow: hidden;
    width: 90.4vw;
    line-height: 6.133vw;
    margin: 6.933vw auto;
    padding-bottom: 4.266vw;
    border-bottom: .8vw #000 solid;
    .ch-area {
      float: left;
    }
    .btn-del {
      float: right;
      font-size: 3.733vw;
    }
  }
  .cont {
    .empty {
      padding: 38.933vw 0;
      color: #aaa;
      font-size: 3.733vw;
      text-align: center;
    }
    .c-list {
      margin-top: 9.6vw;
      background: #f7f7f7;
      li {
        margin-top: 2.133vw;
        background: #fff;
        padding: 4.8vw;
        &:first-child {
          margin-top: 0;
          padding-top: 0;
        }
      }
      .top {
        margin: 0 0 2.933vw;
        padding-bottom: 0;
        border: 0;
        .btn-del {
          display: block;
          width: 4vw;
          height: 4vw;
          background: url('/_ui/img/m/icn/icn-close.png') no-repeat;
          background-size: 100%;
          font-size: 0;
          text-indent: -9999px;
          margin-top: 1.066vw;
        }
      }
      .prod {
        float: left;
        width: 25.333vw;
      }
      .info {
        float: left;
        width: 61.066vw;
        margin-left: 4vw;
        padding-bottom: 6.666vw;
        .t1 {
          margin: 1.333vw 0 2.666vw;
          overflow: hidden;
          .brand {
            font-size: 2.666vw;
            font-weight: 700;
            color: #1f1f1f;
          }
          .brand + span {
            font-size: 2.4vw;
            float: right;
            color: #bbb;
          }
        }
        .t2 {
          font-size: 3.733vw;
          height: 8.666vw;
          margin-bottom: 1.333vw;
          color: #1f1f1f;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
        }
        .option {
          font-size: 3.733vw;
          margin-bottom: 1.333vw;
          color: #1f1f1f;
        }
        .btm {
          font-size: 3.466vw;
          .discount {
            margin-right: 2.666vw;
            color: #9ba4b0;
            text-decoration: line-through;
          }
          .price {
            color: #1f1f1f;
          }
          .family-btn-o {
            display: block;
            color: #fff;
            font-size: 3.2vw;
            width: 20vw;
            height: 6.133vw;
            line-height: 6.133vw;
            text-align: center;
            background: #f23d4e;
            float: right;
            margin-top: -2.666vw;
          }
          .family-btn-x {
            display: block;
            color: #fff;
            font-size: 3.2vw;
            width: 20vw;
            height: 6.133vw;
            line-height: 6.133vw;
            text-align: center;
            background: #bbb;
            float: right;
            margin-top: -1.333vw;
          }
          .family {
            float: left;
            font-size: 3.466vw;
            color: #f85262;
            margin: 1.333vw 0 3.6vw;
          }
        }
        .prod-add {
          clear: both;
          margin-top: 3.6vw;
          overflow: hidden;
          select {
            float: left;
            height: 6.266vw;
            width: 27.5vw;
            border-bottom: .266vw #f1f1f1 solid;
            line-height: 6.266vw;
            font-size: 3.733vw;
            margin-right: 9.333vw;
            font-weight: 700;
            background: url('/_ui/img/m/icn/icn-arrow02.png') no-repeat 99% 50%;
            background-size: 1.733vw;
          }
          .conts {
            float: left;
            width: 24vw;
            border-bottom: .266vw #f1f1f1 solid;
            position: relative;
            input {
              width: 100%;
              font-size: 3.733vw;
              line-height: 6vw;
              text-align: center;
            }
            a {
              position: absolute;
              top: 1.6vw;
              font-size: 0;
              text-indent: -999px;
            }
            .bt-minus {
              left: 0;
              background: url('/_ui/img/m/icn/icn-minus.png') no-repeat 0 center;
              background-size: 100% auto;
              width: 2.933vw;
              height: 2.933vw;
            }
            .bt-plus {
              right: 0;
              background: url('/_ui/img/m/icn/icn-plus.png') no-repeat;
              background-size: 100%;
              width: 2.933vw;
              height: 2.933vw;
            }
          }
        }
        .delivery-info {
          overflow: hidden;
          font-size: 3.466vw;
          color: #898989;
          margin-top: 5.333vw;
          line-height: 5.066vw;
          dt {
            float: left;
            width: 17.866vw;
          }
          dd {
            float: left;
            width: 43.2vw;
          }
        }
      }
      .btn-area {
        overflow: hidden;
        clear: both;
        a {
          display: block;
          float: left;
          width: 44vw;
          height: 10.933vw;
          line-height: 10.933vw;
          font-size: 3.466vw;
          text-align: center;
          font-weight: 700;
          box-sizing: border-box;
        }
        .btn1 {
          color: #1f1f1f;
          border: .266vw #f1f1f1 solid;
          margin-right: 2.4vw;
        }
        .btn2 {
          color: #fff;
          background: #1f1f1f;
        }
        .btn3 {
          background: #f2f2f2;
          color: #ccc;
        }
      }
    }
    .gift {
      background: #f7f7f7;
      h3 {
        font-size: 3.733vw;
        padding: 9.066vw 4.8vw 2.933vw;
        color: #1f1f1f;
        font-weight: 700;
      }
      .disc {
        font-size: 3.466vw;
        padding: 0 4.8vw;
        color: #898989;
        line-height: 4.8vw;
      }
      .disc + .disc {
        margin-top: 2vw;
      }
      .gift-choice {
        padding: 8.8vw 0 9.333vw;
        li {
          padding: 0 4.8vw;
          margin-top: 9.333vw;
          &:first-child {
            margin-top: 0;
          }
          .tit {
            font-size: 3.466vw;
            color: #1f1f1f;
          }
          .list {
            margin-top: 3.466vw;
            li {
              margin-top: 2.933vw;
              overflow: hidden;
              cursor: pointer;
              background: #fbfbfb;
              &:first-child {
                margin-top: 0;
              }
            }
            li.select {
              background: #fff url('/_ui/img/m/icn/icn-check03.png') no-repeat 82.933vw 9.866vw;
              background-size: 2.933vw 2.133vw;
            }
            .prod {
              width: 21.866vw;
              margin-right: 4vw;
              float: left;
            }
            .info {
              margin-top: 6.933vw;
              .t1 {
                font-size: 2.666vw;
                font-weight: 700;
                color: #1f1f1f;
              }
              .t2 {
                font-size: 3.466vw;
                margin-top: 2vw;
                color: #898989;
              }
            }
          }
        }
      }
    }
  }
}
.cart + .notice.empty {
  background: #f7f7f7;
  h3 {
    color: #aaa;
  }
}
.cart + .notice {
  color: #aaa;
  padding: 8.8vw 0 9.6vw;
  h3 {
    padding: 0 4.8vw;
    font-size: 3.733vw;
    color: #1f1f1f;
    font-weight: 700;
  }
  ul {
    margin-top: 4vw;
    padding: 0 8.4vw;
    li {
      font-size: 3.466vw;
      line-height: 4.666vw;
      margin-top: 2vw;
      list-style: disc;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.total-price {
  padding: 0 4.8vw;
  border-top: .266vw #f1f1f1 solid;
  dl {
    padding: 9.6vw 0;
    font-size: 3.466vw;
    overflow: hidden;
    color: #898989;
    dt {
      height: 7.333vw;
      line-height: 7.333vw;
      float: left;
      width: 50%;
    }
    dd {
      height: 7.333vw;
      line-height: 7.333vw;
      float: left;
      width: 50%;
      text-align: right;
    }
    .total {
      font-size: 4vw;
      color: #1f1f1f;
      margin-bottom: 8vw;
    }
  }
}
.btn-order {
  display: block;
  width: 90.4vw;
  margin: 0 auto 9.333vw;
  height: 13.6vw;
  line-height: 13.6vw;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 4vw;
  background: #f23d4e;
}
.total-price-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 750px;
  min-width: 320px;
  width: 100%;
  div {
    width: 60.533vw;
    height: 13.6vw;
    line-height: 13.6vw;
    background: #191919;
    float: left;
    span {
      color: #fff;
      font-size: 3.2vw;
      opacity: .5;
      margin-left: 4.8vw;
    }
    span + span {
      font-size: 4.266vw;
      opacity: 1;
      font-weight: 700;
      margin-left: 2.8vw;
    }
  }
  .btn-order {
    width: 39.466vw;
    float: left;
    margin: 0;
  }
}
@media (min-width: 750px) {
  .sold-out .ch-area {
    .check {
      width: 46px;
      height: 46px;
    }
  }
  .cart {
    .top {
      width: 678px;
      line-height: 46px;
      margin: 52px auto;
      padding-bottom: 32px;
      border-bottom: 6px #000 solid;
      .btn-del {
        font-size: 28px;
      }
    }
    .cont {
      .empty {
        padding: 292px 0;
        font-size: 28px;
      }
      .c-list {
        margin-top: 72px;
        li {
          margin-top: 16px;
          padding: 36px;
        }
        .top {
          margin: 0 0 22px;
          .btn-del {
            width: 30px;
            height: 30px;
            margin-top: 8px;
          }
        }
        .prod {
          width: 190px;
        }
        .info {
          width: 458px;
          margin-left: 30px;
          padding-bottom: 50px;
          .t1 {
            margin: 10px 0 20px;
            .brand {
              font-size: 20px;
            }
            .brand + span {
              font-size: 18px;
            }
          }
          .t2 {
            font-size: 28px;
            height: 65px;
            margin-bottom: 10px;
          }
          .option {
            font-size: 28px;
            margin-bottom: 10px;
          }
          .btm {
            font-size: 26px;
            .discount {
              margin-right: 20px;
            }
            .family-btn-o {
              font-size: 24px;
              width: 150px;
              height: 46px;
              line-height: 46px;
              margin-top: -20px;
            }
            .family-btn-x {
              font-size: 24px;
              width: 150px;
              height: 46px;
              line-height: 46px;
              margin-top: -10px;
            }
            .family {
              font-size: 26px;
              margin: 10px 0 27px;
            }
          }
          .prod-add {
            margin-top: 27px;
            select {
              height: 47px;
              width: 204px;
              border-bottom: 2px #f1f1f1 solid;
              line-height: 47px;
              font-size: 28px;
              margin-right: 70px;
              background-size: 13px;
            }
            .conts {
              width: 180px;
              border-bottom: 2px #f1f1f1 solid;
              input {
                font-size: 28px;
                line-height: 45px;
              }
              a {
                top: 12px;
              }
              .bt-minus {
                width: 22px;
                height: 22px;
              }
              .bt-plus {
                width: 22px;
                height: 22px;
              }
            }
          }
          .delivery-info {
            font-size: 26px;
            margin-top: 40px;
            line-height: 38px;
            dt {
              width: 134px;
            }
            dd {
              width: 324px;
            }
          }
        }
        .btn-area {
          a {
            width: 330px;
            height: 82px;
            line-height: 82px;
            font-size: 26px;
          }
          .btn1 {
            border: 2px #f1f1f1 solid;
            margin-right: 18px;
          }
        }
      }
      .gift {
        h3 {
          font-size: 28px;
          padding: 68px 36px 22px;
        }
        .disc {
          font-size: 26px;
          padding: 0 36px;
          line-height: 36px;
        }
        .disc + .disc {
          margin-top: 15px;
        }
        .gift-choice {
          padding: 66px 0 70px;
          li {
            padding: 0 36px;
            margin-top: 70px;
            .tit {
              font-size: 26px;
            }
            .list {
              margin-top: 30px;
              li {
                margin-top: 22px;
              }
              li.select {
                background: #fff url('/_ui/img/m/icn/icn-check03.png') no-repeat 622px 74px;
                background-size: 22px 16px;
              }
              .prod {
                width: 164px;
                margin-right: 30px;
              }
              .info {
                margin-top: 52px;
                .t1 {
                  font-size: 20px;
                }
                .t2 {
                  font-size: 26px;
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  .cart + .notice {
    padding: 66px 0 72px;
    h3 {
      padding: 0 36px;
      font-size: 28px;
    }
    ul {
      margin-top: 30px;
      padding: 0 63px;
      li {
        font-size: 26px;
        line-height: 35px;
        margin-top: 15px;
      }
    }
  }
  .total-price {
    padding: 0 36px;
    border-top: 2px #f1f1f1 solid;
    dl {
      padding: 72px 0;
      font-size: 26px;
      dt {
        height: 55px;
        line-height: 55px;
      }
      dd {
        height: 55px;
        line-height: 55px;
      }
      .total {
        font-size: 30px;
        margin-bottom: 60px;
      }
    }
  }
  .btn-order {
    width: 678px;
    margin: 0 auto 70px;
    height: 102px;
    line-height: 102px;
    font-size: 30px;
  }
  .total-price-fixed {
    div {
      width: 454px;
      height: 102px;
      line-height: 102px;
      span {
        font-size: 24px;
        margin-left: 36px;
      }
      span + span {
        font-size: 32px;
        margin-left: 21px;
      }
    }
    .btn-order {
      width: 296px;
    }
  }
}
