<div class="box3">
    <h3>최근 본 상품 목록</h3>
    <ul>
        <li class="ml0"><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li class="ml0"><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li class="ml0"><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/_ui/img/m/temp/d-prod01.jpg" alt="" /></a></li>
    </ul>
</div>