{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="mypage-order bg-fff pt0">
                <div class="h1-top">
                    <a href="/Order/List" class="pop-close">닫기</a>
                    <h1>주문취소신청 완료</h1>
                </div>
                
                <div class="cancel-end">
                    <h3>주문취소가 정상적으로<br />접수되었습니다.</h3>
                    <p>항상 KOLONMALL을 이용해 주셔서<br />감사합니다.</p>
                    <div class="btn"><a href="/Order/List">확인</a></div>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
