{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="order-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>매장안내</h1>
                </div>
                
                <div class="store-map">
                    <img src="/_ui/img/m/store-map.jpg" alt="매장지도" />
                </div>
                
                <dl class="store-info">
                    <dt class="st-tit">시리즈코너</dt>
                    <dd>서울특별시 구로구 구로5동 573</dd>
                    <dd>연락처 : 02-6923-2411</dd>
                    <dt>픽업가능시간</dt>
                    <dd>오전 10:30 ~ 오후 10:00</dd>
                    <dd class="call"><a href="tel:02-6923-2411">전화하기</a></dd>
                </dl>


            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
