{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="order-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>주문안내</h1>
                </div>
                
                <div class="box1">
                    <h3>택배배송 진행단계</h3>
                    <div class="img"><img src="/_ui/img/m/order-notice1.jpg" alt="주문접수>결제완료>상품준비중>배송중>배송완료" /></div>
                    <ul class="notice">
                        <li>주문접수~결제완료 상태에서만 ‘주문취소’가 가능합니다.</li>
                        <li>배송중~배송완료 상태에서 ‘반품신청’을 해주세요.</li>
                    </ul>
                </div>
                <div class="box2">
                    <h3>매장픽업 진행단계</h3>
                    <div class="img"><img src="/_ui/img/m/order-notice2.jpg" alt="상품구매>교환권받기>매장방문>수령완료" /></div>
                    <ul class="notice">
                        <li>픽업가능기간은 구매일 +2일 입니다.</li>
                        <li>픽업취소는 구매 당일에만 가능합니다.</li>
                    </ul>
                </div>
                <div class="btn-more">
                    <a href="#">더 알아보기</a>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
