{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="search-zipcode">
                <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                <h1>우편번호찾기</h1>

                <div class="search-top">
                    <div class="search-wrap">
                        <input type="search" name="" placeholder="예) 삼성로 512, 삼성동 517-1, 돈암 하늘채" class="">
                        <button type="button"></button>
                    </div>
                    <p class="desc">※ 도로명 또는 지번을 입력해 주세요.</p>
                </div>

                <div class="list-wrap">
                    <div class="select-wrap">
                        <select id="" name="">
                            <option value="">도로명 전체</option>
                        </select>
                        <select id="" name="">
                            <option value="">지역명 전체</option>
                        </select>
                    </div>

                    <ul class="zip-list">
                        <li>
                            <a href="#">
                                <span class="num">06168 <em class="fc-gray">(135-880)</em></span>
                                <span class="name"><em>도로명</em>경기 고양시 덕양구 화신로 340 (별빛마을7단지아파트)</span>
                                <span class="lot"><em>지&nbsp;&nbsp;&nbsp;번</em>서울 강남구 삼성동 157-1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="num">06168 <em class="fc-gray">(135-880)</em></span>
                               <span class="name"><em>도로명</em>경기 고양시 덕양구 화신로 340 (별빛마을7단지아파트)</span>
                                <span class="lot"><em>지&nbsp;&nbsp;&nbsp;번</em>서울 강남구 삼성동 157-1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="num">06168 <em class="fc-gray">(135-880)</em></span>
                                <span class="name"><em>도로명</em>경기 고양시 덕양구 화신로 340 (별빛마을7단지아파트)</span>
                                <span class="lot"><em>지&nbsp;&nbsp;&nbsp;번</em>서울 강남구 삼성동 157-1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="num">06168 <em class="fc-gray">(135-880)</em></span>
                               <span class="name"><em>도로명</em>경기 고양시 덕양구 화신로 340 (별빛마을7단지아파트)</span>
                                <span class="lot"><em>지&nbsp;&nbsp;&nbsp;번</em>서울 강남구 삼성동 157-1</span>
                            </a>
                        </li>
                    </ul>

                    <div class="btns">
                        <button type="button" class="btn-int">선택완료</button>
                    </div>
                </div>
                
            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
