{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="고객센터 - eKOLON 멤버십"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="eKOLON"}}

             <article class="e-kolon contents">
                <h3>eKOLON 멤버십</h3>

                <ul class="tab list2">
                    <li><a href="/eKOLON/Point">멤버십 포인트 안내</a></li>
                    <li class="on"><a href="/eKOLON/Brand">멤버십 포인트 가맹점</a></li>
                </ul>

                <div class="brand">
                  <div class="type">
                    <h4>SPORTS /<br> CASUAL</h4>
                    <ul>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand01.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand02.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand03.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand04.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand05.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand06.png" alt=""></a></li>
                    </ul>
                  </div>

                  <div class="type">
                    <h4>CASUAL<br> LOOK</h4>
                    <ul>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand07.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand08.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand09.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand10.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand11.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand12.png" alt=""></a></li>
                    </ul>
                  </div>

                  <div class="type">
                    <h4>BUSINESS<br> BRAND</h4>
                    <ul>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand13.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand14.png" alt=""></a></li>
                    </ul>
                  </div>

                  <div class="type">
                    <h4>DESIGNER’S<br> BRAND</h4>
                    <ul>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand15.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand16.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand17.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand18.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand19.png" alt=""></a></li>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand20.png" alt=""></a></li>
                    </ul>
                  </div>

                  <div class="type">
                    <h4>RETAIL</h4>
                    <ul>
                      <li><a href="#"><img src="/_ui/img/pc/eKOLON-brand21.png" alt=""></a></li>
                    </ul>
                  </div>
                </div>
            </article>
        </section>
    {{/inline}}

{{/desktop/layouts/default}}
