{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="고객센터 -  eKOLON 멤버십"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="eKOLON"}}

             <article class="e-kolon contents">
                <h3>eKOLON 멤버십</h3>

                <ul class="tab list2">
                    <li class="on"><a href="/eKOLON/Point">멤버십 포인트 안내</a></li>
                    <li><a href="/eKOLON/Brand">멤버십 포인트 가맹점</a></li>
                </ul>

                <div class="point">
                  <div class="info">
                    <h4>eKOLON 포인트란?</h4>
                    <p>
                      전국 eKOLON 포인트 가맹점 또는 브랜드 사이트에서 상품 구입하실 때 사용금액의 일정률을<br>
                      적립 받아 현금처럼 사용 할 수 있는 포인트 서비스를 제공하는 포인트카드 입니다.
                    </p>
                    <h5>카드를 발급받으시려면!</h5>
                    <p>
                      eKOLON 포인트 가맹점 또는 브랜드 사이트를 이용하시는 고객이면 누구나 발급 받으실 수<br>
                      있으며, 가맹점에서 가입 신청서를 작성해 주시면 즉시 카드를 발급해 드립니다.
                    </p>
                    <p class="card"><img src="/_ui/img/pc/membership.png" alt="eKOLON membership 카드"></p>
                  </div>

                  <h4>포인트 적립방법</h4>
                  <ol class="point-step">
                    <li class="step-1">물품구입</li>
                    <li class="step-2">포인트 적립</li>
                  </ol>
                  <ul>
                    <li>포인트 적립율은 제휴/가맹점의 할인율에 따라 차등 적용됩니다.</li>
                    <li>포인트 1회 적립 시 부여되는 포인트는 250,000점을 초과할 수 없습니다.</li>
                    <li>세일기간에도 포인트는 적립됩니다. (결제하신 금액 기준)</li>
                    <li>1,000원 미만의 거래에는 포인트를 부여하지 않으며, 10점 미만의 포인트는 절사됩니다.</li>
                    <li>eKOLON 멤버십 포인트를 사용하여 상품 구매 시, 포인트에 의해 할인된 금액을 제외한 실 결제금액에 대하여 포인트가 적립됩니다.</li>
                  </ul>

                  <h4>포인트 사용방법</h4>
                  <ol class="point-step">
                    <li class="step-1">물품구입</li>
                    <li class="step-3">포인트 차감</li>
                    <li class="step-4">결제</li>
                  </ol>
                  <ul>
                    <li>포인트 1점은 현금 1원과 같이 취급됩니다.</li>
                    <li>적립된 포인트는 백화점 및 할인점에서는 1,000점 단위, 대리점 및 직영점에서는 10점 단위로 사용하실 수 있습니다.</li>
                    <li>적립된 포인트를 사용할 경우, 사용하신 포인트만큼 가용 포인트를 차감 합니다.</li>
                    <li>포인트 사용금액에 대해서 추가 적립되지 않습니다.</li>
                    <li>대리점 및 직영점에서 적립된 포인트는 백화점 및 할인점에서는 사용이 불가능합니다.</li>
                    <li>포인트 사용시에는 비밀번호를 제시하셔야 하며, 비밀번호 변경 및 확인은 고객센터(1588-7667) 를 이용하시면 됩니다.</li>
                    <li>포인트는 현금으로 환불되거나 변제 될 수 없습니다.</li>
                    <li><em>미사용 포인트는 적립일로부터 2년 후 같은 달 말일에 자동 소멸됩니다.</em></li>
                  </ul>

                  <small class="note-title">꼭 알아두세요!</small>
                  <h5>반품기준</h5>
                  <ul>
                    <li>구입 상품을 반품할 경우 해당 상품 구매로 발생된 포인트는 차감됩니다.</li>
                    <li>eKOLON 카드 포인트를 사용하여 구입한 상품을 반품할 경우 포인트 매출 영수증을 제시하는 고객에 한하여 포인트를 환원시켜 드립니다.</li>
                  </ul>
                  <h5>카드재발급</h5>
                  <ul>
                    <li>eKOLON 카드 재발급 문의는 고객센터 (Tel : 1588-7667)로 전화 주시면 처리하여 원하시는 주소로 발송하여 드립니다.</li>
                    <li>재발급 후 이전 카드는 사용하실 수 없습니다.</li>
                    <li>재발급 시에는 이전카드의 내역이 그대로 부여됩니다.</li>
                    <li>카드 분실로 인하여 발생되는 피해는 당사가 책임지지 않습니다.</li>
                  </ul>
                </div>
            </article>
        </section>
    {{/inline}}

{{/desktop/layouts/default}}
