{{#> mobile/layouts/default }}
    {{#*inline "header"}}
        {{>mobile/partials/navigation-with-back title="고객센터"}}
    {{/inline}}

    {{#*inline "extrajavascript"}}
        <script type="text/javascript">
            {{precompile "mobile/precompiles/notice/notice-item"}}
        </script>
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">
            <!-- navigation -->
            <div class="scr-navi">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/FAQ">FAQ</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Contact">1:1문의</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/AfterSales/Warranty">A/S안내</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="on" href="/Notice">공지사항</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/GuestOrder">비회원주문조회</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/eKOLON/Point">eKOLON멤버십</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Compensation/Delay">고객보상제</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Proposal/Add">제휴및광고제안</a>
                    </div>
                </div>
                <i class="icn-navi"></i>
            </div>
            <!-- //navigation -->

            <article class="cs-faq">
                <h3 class="hidden">고객센터 공지사항 본문내용</h3>
                <ul id="noticeList" class="toggle-list notice">
                    {{#notices.results}}
                        {{>mobile/precompiles/notice/notice-item}}
                    {{/notices.results}}
                </ul>
                
                {{{render_hide_loader "noticeListLoading"}}}

                {{#gt notices.page.totalCount notices.page.perPage}}
                    <a id="noticeListMoreBtn" class="notice-more">더보기</a>
                {{/gt}}
            </article>

            {{>mobile/partials/cs/additional-footer-info}}

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
