{{#> mobile/layouts/default }}
    {{#*inline "header"}}
        <header class="kolon-header">
            <div class="h-wrap">
                <h2 class="hidden">KOLONmall 메인메뉴</h2>
                <ul class="top-navi">
                    <li>
                        <a href="#" class="menu">좌측메뉴 열기</a>
                    </li>
                    <li>
                        <a href="#" class="back">뒤로가기</a>
                    </li>
                    <li>
                        <h1 class="prod-name">남성 CAMOU 경량 패딩자켓(키퍼)남성 CAMOU 경량 패딩자켓(키퍼)</h1>
                    </li>
                    <li>
                        <a href="#" class="cart">장바구니</a>
                    </li>
                    <li>
                        <a href="#" class="search">검색</a>
                    </li>
                </ul>
            </div>
        </header>
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="prod-detail-main">
                
                <!-- 상품메인이미지 슬라이드 -->
                <div class="prod-detail-slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="http://kopimages.kolon.com/Prod_Img/KS/2017/LM1/TLSCM17251DEN_LM1.jpg" alt=""></div>
                    </div>
                    <div class="scr-prod-pagination"></div>
                </div>
                <!-- //상품메인이미지 슬라이드 -->

                <div class="detail-info">

                    <!-- 상품 정보 -->
                    <div class="info-box">
                        <div class="info-wrap">
                            <p class="brand">KOLON SPORT</p>
                            <p class="prod">남성 CAMOU 경량 패딩자켓(키퍼)</p>
                            <div class="price-info">
                                <span class="discount"><i class="f-hv">270,000</i>원</span>
                                <span class="price"><i class="f-hv">225,000</i>원</span>
                                <span class="percent">(<i class="f-hv">15</i>%)</span>
                            </div>
                        </div>
                        <a href="#" class="favorite">관심상품</a>
                    </div>
                    <!-- //상품 정보 -->

                    <!-- 상품 옵션 -->
                    <div class="option-box">
                        <dl>
                            <dt>컬러</dt>
                            <dd class="color">
                                <a href="#" class="on"><img src="/_ui/img/m/temp/c-563e66.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-b5e1e7.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-77867d.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-c9c7ab.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-585a5c.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-563e66.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-b5e1e7.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-77867d.jpg" alt="" /></a>
                                <a href="#"><img src="/_ui/img/m/temp/c-c9c7ab.jpg" alt="" /></a>
                            </dd>
                            <dt>사이즈</dt>
                            <dd class="size">
                                <a href="#" class="on">80</a>
                                <a href="#">85</a>
                                <a href="#">90</a>
                                <a href="#">95</a>
                                <a href="#">100</a>
                                <a href="#">105</a>
                                <a href="#">110</a>
                                <a href="#" class="size-x">115</a><!-- 사이즈 없음 -->
                            </dd>
                            <dt class="ea">수량</dt>
                            <dd class="ea">
                                <span>1</span>
                                <div class="bts-ctrl">
                                    <a href="#" class="plus">+</a>
                                    <a href="#" class="minus">-</a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <!-- //상품 옵션 -->

                    <!-- 포인트, 카드혜택, 배송정보 -->
                    <div class="etc-box">
                        <dl>
                            <dt>적립포인트</dt>
                            <dd>
                                <span class="f-hv">15,750P</span>
                                <a href="#" class="bt-notice">포인트안내</a>
                            </dd>
                            <dt>카드혜택</dt>
                            <dd>
                                <span>신한카드 3% 청구할인</span>
                                <a href="#" class="bt-notice">혜택안내</a>
                            </dd>
                            <dt>배송정보</dt>
                            <dd class="d-check">
                                <div class="tab-bts">
                                    <a href="#" class="on">택배배송</a>
                                    <a href="#">당일배송</a>
                                    <a href="#">매장픽업</a>
                                </div>
                            </dd>
                        </dl>
                        <div class="tab-conts">
                            <!-- 당일배송 선택시 열림 -->
                            <div>
                                <ul class="disc">
                                    <li>당일 배송 서비스는 서울 지역만 가능합니다. </li>
                                    <li>당일 배송 주문은 오후 4시까지 입니다.</li>
                                </ul>
                            </div>
                            <!-- //당일배송 선택시 열림 -->

                            <!-- 매장픽업 선택시 열림 -->
                            <div>
                                <div class="store-select">
                                    <select>
                                        <option>지역선택</option>
                                        <option>지역선택</option>
                                        <option>지역선택</option>
                                    </select>
                                    <select>
                                        <option>매장선택</option>
                                        <option>매장선택</option>
                                        <option>매장선택</option>
                                    </select>
                                </div>
                                <div class="store-info">
                                    <p class="t1">시리즈 삼성동 코엑스몰 LAB STORE</p>
                                    <p class="t2">서울특별시 강남구 삼성동 영동대로 513 코엑스몰 C 112호</p>
                                    <p class="t3"><span>전화번호 : 02-3677-7372</span><span>영업시간 : 09:30~18:30</span></p>
                                </div>
                                <div class="store-date">
                                    <select>
                                        <option>방문일선택</option>
                                        <option>방문일선택</option>
                                        <option>방문일선택</option>
                                    </select>
                                    <select>
                                        <option>방문시간선택</option>
                                        <option>10:00 ~ 12:00</option>
                                        <option>12:30 ~ 14:30</option>
                                        <option>14:30 ~ 16:30</option>
                                        <option>16:30 ~ 19:30</option>
                                    </select>
                                </div>
                                <ul>
                                    <li>픽업 주문은 마이페이지 &gt; 전체주문조회에서 조회 및 취소가 가능합니다.</li>
                                    <li>방문 희망일 경과 후 주문이 자동 취소되므로 매장 방문이 어려우신 경우에는 고객센터 (1588-7667)로 연락하셔서 방문예정일을 변경해 주십시오</li>
                                </ul>
                            </div>
                            <!-- //매장픽업 선택시 열림 -->
                        </div>
                        <dl>
                            <dt>배송비</dt>
                            <dd>무료배송</dd>
                        </dl>
                        <div class="coupon">
                            <div class="c-wrap">
                                <div class="txt">
                                    <p class="t1 f-hv">2017 여름맞이 쇼핑지원 쿠폰</p>
                                    <p class="t2">
                                        <span>15%</span>
                                        <span>2017.03.24까지</span>
                                    </p>
                                </div>
                                <a href="#" class="bt-down">다운받기</a>
                            </div>
                        </div>
                    </div>
                    <!-- //포인트, 카드혜택, 배송정보 -->

                </div>

                <!-- 관심상품 팝업 -->
                <div class="favorite-pop">
                    <i class="ico"></i>
                    <p>관심상품에<br />저장 되었습니다</p>
                    <p>관심상품에<br />삭제 되었습니다</p>
                </div>
                <!-- //관심상품 팝업 -->

            </article>

            <div class="detail-btn-area">
                <a href="#">장바구니</a>
                <a href="#">바로구매</a>
            </div>

            <article class="prod-detail-contents">

                <!-- 관련 기획전이 있을 때 노출 -->
                <div class="detail-special"></div>
                <!-- //관련 기획전이 있을 때 노출 -->
                
                <div class="detail-disc"></div>

                <div class="detail-size"></div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}