<!-- TODO : 반품 정보 -->
<div class="complete">
    <div class="box2">
        <h3>교환 배송비 정보</h3>
        <dl class="dl-table bd0">
            <dt>교환 배송비</dt>
            <dd class="colspan tl">2,500원</dd>
            <dt class="rowspan">입금계좌</dt>
            <dd class="tl l3">
                우리은행<br />
                1005-500-961058<br />
                예금주:코오롱인더스트리
            </dd>
            <dt>입금확인일</dt>
            <dd class="colspan tl">2017.07.22</dd>
        </dl>
    </div>
</div>
<!-- //교환 배송비 정보 -->