<!-- 픽업정보 -->
<div class="order">
    <div class="d-info">
        <div class="d-top">
            <h3>매장픽업 정보</h3>
        </div>
        <ul>
            <li>
                <div class="tit">픽업매장</div>
                <div class="cont">
                    <span class="cont">{{name}}</span>
                </div>
            </li>
            <li>
                <div class="tit">픽업예정일</div>
                <div class="cont">
                    <span>{{pickupDate}}</span>
                </div>
            </li>
            <li>
                <div class="tit">픽업시간</div>
                <div class="cont">
                    <span>{{pickupTimeFrom}} ~ {{pickupTimeTo}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- //픽업정보 -->