{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">
            
            <article class="family-guide">
                
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>임직원 이용 안내</h1>
                </div>

                <div class="cs-depth3 col2">
                    <ul>
                        <li class="on"><a href="/MyPage/FamilyGuide">가입/이용 안내</a></li>
                        <li><a href="/MyPage/FamilyDiscountGuide">직원DC 사용방법</a></li>
                    </ul>
                </div>

                <div class="box1">
                    <div class="mbship">
                        <img src="/_ui/img/m/membership.png" alt="멤버십 카드 이미지">
                    </div>
                    <h3>코오롱 임직원 가입/이용 안내</h3>
                    <ul class="notice">
                        <li>코오롱 임직원은 KOLON ONE ID 가입 및 eKOLON 직원 카드를 발급받으셔야 임직원 혜택을 받으실 수 있습니다. </li>
                        <li>KEN 메인화면 오른쪽 중간에 있는 ICON 메뉴의 eKOLON 카드 버튼을 클릭하여 직원카드를 신청하세요. </li>
                    </ul>
                </div>

                <div class="box2">
                    <h3>직원카드 발급문의</h3>
                    <dl>
                        <dt>본사</dt>
                        <dd>FnC 부문 BigData팀으로 신청서 제출</dd>
                        <dt>계열사</dt>
                        <dd>각 계열사 인사팀에 비치된 신청서 작성</dd>
                        <dt>문의전화</dt>
                        <dd><a href="tel:1588-7667">1588-7667</a></dd>
                        <dt>담당자 이메일</dt>
                        <dd><a href="mailto:iu721@kolon.com">iu721@kolon.com</a></dd>
                    </dl>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
