{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">
            
            <article class="family-guide">
                
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>임직원 이용 안내</h1>
                </div>

                <div class="cs-depth3 col2">
                    <ul>
                        <li><a href="/MyPage/FamilyGuide">가입/이용 안내</a></li>
                        <li class="on"><a href="/MyPage/FamilyDiscountGuide">직원DC 사용방법</a></li>
                    </ul>
                </div>

                <div class="box3">
                    <h3>STEP 1</h3>
                    <p>상품을 장바구니에 담고 장바구니 내역이 정확한지 확인하세요. 장바구니 상품에서 '직원할인적용'버튼을 확인하실 수 있습니다.</p>
                    <p>정상가 기준으로 적용되므로 기본할인보다 할인율이 큰 상품의 경우 직원할인 적용이 불가합니다.</p>
                    <div><img src="/_ui/img/m/FamilyDiscountGuide1.jpg" alt="장바구니내에 직원할인적용 버튼 위치 이미지" /></div>
                    <h3>STEP 2</h3>
                    <p>직원할인을 적용할 수 있으며 적용 후 장바구니 단계에서 바로 취소하실 수 있습니다.</p>
                    <p>직원할인적용 시 할인된 금액을 확인하실 수 있습니다. </p>
                    <div class="margin"><img src="/_ui/img/m/FamilyDiscountGuide2.jpg" alt="판매가 190,000원 -> 직원할인적용 -> 판매가 152,000원 -> 직원할인취소 -> 판매가 190,000원" /></div>
                    <ul class="notice">
                        <li>상품 판매가의 할인률이 20%보다 높을시에는 직원할인이 적용되지 않습니다.</li>
                        <li>총 복지 한도액 중, 구매지원 한도가 우선 소진됩니다.</li>
                        <li>구매지원 한도는 직원DC와 동일하게 20% 할인이 적용 되며, 정상가 기준에서 계열사별로 책정된 %만큼 급여로 지급 받습니다.</li>
                    </ul>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
