{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">
            
            <article class="product-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>카드혜택 안내</h1>
                </div>
                
                <h3>무이자 혜택</h3>
                <div class="box">
                    {{!--<p class="card-non">혜택가능한 카드가 없습니다</p>--}}
                    <dl class="card1">
                        <dt><img src="/_ui/img/m/icn/card-samsung.png" alt="삼성카드" class="card-samsung" /></dt>
                        <dd>
                            <p>2~5개월 무이자</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-hana.png" alt="하나카드" class="card-hana" /></dt>
                        <dd>
                            <p>2~5개월 무이자(하나BC포함)</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-lotte.png" alt="롯데카드" class="card-lotte" /></dt>
                        <dd>
                            <p>2~5개월 무이자</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-hyundai.png" alt="현대카드" class="card-hyundai" /></dt>
                        <dd>
                            <p>2~5개월 무이자</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-citi.png" alt="시티카드" class="card-citi" /></dt>
                        <dd>
                            <p>2~3개월 무이자(씨티BC제외)</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-kb.png" alt="국민카드" class="card-kb" /></dt>
                        <dd>
                            <p>2~6개월 무이자(농협, 국민BC제외)</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-bc.png" alt="비씨카드" class="card-bc" /></dt>
                        <dd>
                            <p>2~5개월 무이자</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                        <dt><img src="/_ui/img/m/icn/card-shinhan.png" alt="신한카드" class="card-shinhan" /></dt>
                        <dd> 
                            <p>2~6개월 무이자(신한BC제외)</p>
                            <span>2개월(20만원 이상) / 12개월(50만원 이상)</span>
                        </dd>
                    </dl>
                </div>

                <h3>청구할인 혜택</h3>
                <div class="box last-box">
                    {{!--<p class="card-non">혜택가능한 카드가 없습니다</p>--}}
                    <dl class="card2">
                        <dt>카드사명</dt>
                        <dd><img src="/_ui/img/m/icn/card-samsung.png" alt="삼성카드" class="card-samsung" /></dd>
                        <dt>청구할인율</dt>
                        <dd>5%</dd>
                        <dt>기간</dt>
                        <dd>2015.01.13~2015.07.31</dd>
                        <dt>구매금액</dt>
                        <dd>50,000원 이상 구매 시</dd>
                    </dl>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
