{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">
            
            <article class="product-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>교환반품안내</h1>
                </div>
                
                <h3>배송기간(물류센터)</h3>
                <div class="box2 last-box">
                    <p class="t2">교환 및 반품은 상품수령 후 영업일 기준 7일 이내에 요청해 주시고, 고객변심으로 인한 교환/반품 시 배송비는 고객부담입니다.</p>
                    <ul class="disc">
                        <li>고객 변심으로 인한 교환/반품 시, 반품 배송비 6,000원 고객부담 </li>
                        <li>상품 불량으로 인한 교환/반품 시, 반품 배송비 무료<br />My page에서 교환/반품 신청에서 확인 가능합니다. </li>
                    </ul>
                    <dl class="dl-list">
                        <dt>교환&amp;반품시 주의사항</dt>
                        <dd>
                            <ul class="disc">
                                <li>교환 및 반품은 제품 수령 후 영업일 기준 7일 이내에 가능합니다. </li>
                                <li>상품은 착용한 흔적이 있거나, 상품택이 손상된 경우 교환/반품/환불이 불가합니다.</li>
                                <li>교환시 맞교환은 불가능하며, 상품 입고 후 교환을 원하시는 제품으로 배송해드립니다. </li>
                                <li>교환 및 반품내역이 접수되지 않거나, 지정된 반송처로 반송되지 않을 시, 교환/반품/환불 절차가 지연되오니 양해 부탁 드립니다. </li>
                            </ul>
                        </dd>
                        <dt>교환&amp;반품시 절차</dt>
                        <dd>
                            <ul class="disc">
                                <li>상품 수령후 2~3일내 구매하신 사이트 "마이페이지" 주문/배송 내역조회에서 직접 접수하시거나 고객센터를 통해 접수해주세요. </li>
                                <li>직접 반품 하실 경우: 경기도 화성시 동탄면 방교리 782번지 코오롱 온라인 8층 (지정된 반송처로 반송되지 않을 시, 교환 및 반품 절차가 지연될 수 있습니다.)</li>
                                <li>단순 변심으로 인한 교환 및 반품 시 택배비용은 고객님께서 부담하셔야 합니다. (배송착오 및 제품 불량의 경우 제외) </li>
                            </ul>
                        </dd>
                        <dt>교환/반품이 가능한 경우 </dt>
                        <dd>
                            상품을 공급받으신 날로부터 영업일 기준 7일 이내에 요청이 가능합니다. 
                            <ul class="disc">
                                <li>상품을 미사용한 상태에서 반송하여 주십시오. </li>
                                <li>반송된 후 물류센터에서 반송확인 후 환불 및 교환처리 됩니다.</li>
                            </ul>
                        </dd>
                        <dt>교환/반품이 불가능한 경우 </dt>
                        <dd>
                            다음과 같이 상품이 사용/훼손된 경우에는 교환 및 반품이 되지 않습니다.
                            <ul class="disc">
                                <li>고객님의 귀책 사유로 상품이 훼손된 경우 (단, 상품의 내용 확인을 위해 포장 등을 훼손한 경우는 제외) </li>
                                <li>포장을 개봉하였거나 포장이 훼손되어 상품가치가 현저히 상실된 경우 </li>
                                <li>상품의 TAG, 스티커, 비닐포장, 케이스 등을 훼손 및 분실한 경우 </li>
                                <li>시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
