{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">
            
            <article class="product-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>수선품 접수안내</h1>
                </div>
                
                <div class="box2 last-box">
                    <ul class="disc">
                        <li>수선품 접수는 구입기간(오래된 제품이라도)에 관계없이 가능합니다.</li>
                        <li>구입매장 또는 인근지역 내 브랜드 매장을 방문하시어 의뢰하십니다.</li>
                        <li>인근지역 내 매장이 없을 경우 우편 또는 고객상담실로 방문해주십시오.</li>
                        <li>수선작업에 소요되는 기간은 평균적으로 매장접수일로 부터 10일 이내에 작업이 완료됩니다.</li>
                        <li>3년 이상 된 제품들은 유상으로 진행되고 있으며, 항목별로 가격 조견표는 매장에 비치되어 있습니다.</li>
                    </ul>
                    <a href="#" class="btn-notice">수선품 접수 자세히 보기</a>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
