<div class="shipping">
    <h4>매장픽업 정보</h4>
    <dl>
        <dt>픽업매장</dt>
        <dd>{{name}}</dd>
        <dt>픽업예정일</dt>
        <dd>{{pickupDate}}</dd>
        <dt>픽업시간</dt>
        <dd>{{pickupTimeFrom}} ~ {{pickupTimeTo}}</dd>
        <dt>안내사항</dt>
        <dd>구매일 이후 2일 이내에 방문하지 않을 경우, 주문이 자동 취소됩니다.</dd>
    </dl>
</div>