{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="마이페이지 - 쿠폰"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-mypage title="마이페이지" submenu="Coupon"}}

            <article class="coupons contents">
              <h3>쿠폰</h3>
              <ul class="notice">
                <li>주문 후 취소/교환/반품의 경우 이미 사용한 할인쿠폰은 환급되지 않습니다.</li>
                <li>유효기간이 지난 쿠폰은 재발행 되지 않으니 유효기간 내에 사용해 주시기 바랍니다.</li>
              </ul>

              <ul class="tab list2">
                <li class="on"><a href="#">온라인 쿠폰 <span>8</span></a></li>
                <li><a href="#">매장 쿠폰 <span>0</span></a></li>
              </ul>

              <div class="coupon-list">
                <div class="list">
                  <button type="button" class="coupon">
                    <p class="label">할인 쿠폰</p>
                    <p class="brand">럭키슈에뜨</p>
                    <p class="title">2017 여름맞이 물놀이 쇼핑지원 쿠폰</p>
                    <p class="sale">30<small>%</small></p>
                    <p class="note">
                      <span>브랜드몰 전용</span>
                      <span>2017.03.24까지</span>
                    </p>
                  </button>
                  <ul>
                    <li>쿠폰혜택 : 판매가 30% 할인</li>
                    <li>쿠폰번호 : CMPNOL_WOW00001</li>
                    <li>중복사용 : 다른 쿠폰과 <em>중복사용 불가</em></li>
                    <li>유효기간 : 2017.01.01 ~ 2017.03.24</li>
                    <li>사  용  처 : <a href="http://www.luckychouette.com">http://www.luckychouette.com</a></li>
                  </ul>
                </div>
                <div class="list">
                  <button type="button" class="coupon">
                    <p class="label">할인 쿠폰</p>
                    <p class="brand">럭키슈에뜨</p>
                    <p class="title">2017 여름맞이 물놀이 쇼핑지원 쿠폰</p>
                    <p class="sale">30<small>%</small></p>
                    <p class="note">
                      <span>브랜드몰 전용</span>
                      <span>2017.03.24까지</span>
                    </p>
                  </button>
                  <ul>
                    <li>쿠폰혜택 : 판매가 30% 할인</li>
                    <li>쿠폰번호 : CMPNOL_WOW00001</li>
                    <li>중복사용 : 다른 쿠폰과 <em>중복사용 불가</em></li>
                    <li>유효기간 : 2017.01.01 ~ 2017.03.24</li>
                    <li>사  용  처 : <a href="http://www.luckychouette.com">http://www.luckychouette.com</a></li>
                  </ul>
                </div>
                <div class="list">
                  <button type="button" class="coupon">
                    <p class="label">할인 쿠폰</p>
                    <p class="brand">럭키슈에뜨</p>
                    <p class="title">2017 여름맞이 물놀이 쇼핑지원 쿠폰</p>
                    <p class="sale">30<small>%</small></p>
                    <p class="note">
                      <span>브랜드몰 전용</span>
                      <span>2017.03.24까지</span>
                    </p>
                  </button>
                  <ul>
                    <li>쿠폰혜택 : 판매가 30% 할인</li>
                    <li>쿠폰번호 : CMPNOL_WOW00001</li>
                    <li>중복사용 : 다른 쿠폰과 <em>중복사용 불가</em></li>
                    <li>유효기간 : 2017.01.01 ~ 2017.03.24</li>
                    <li>사  용  처 : <a href="http://www.luckychouette.com">http://www.luckychouette.com</a></li>
                  </ul>
                </div>
              </div>

              <button type="button" class="list-more">더 보기</button>
            </article>


        </section>
    {{/inline}}

{{/desktop/layouts/default}}
