<li>
    <div class="ques">
        <a href="#"><span>{{title}}</span></a>
    </div>
    <div class="answer">
        <div class="txt">
            <div>등록일: {{to_date_string publicationAt}}</div>
            {{{contentMobile}}}
        </div>
        <a href="#" class="close">닫기</a>
    </div>
</li>