{{#> mobile/layouts/default }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content pt0">

            <article class="cs-as as-pop">
                <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                <h1>홍길동님의 77TAM17250WHX 제품에 <br />대한 수선 진행 현황 입니다.</h1>
                <div class="as-inquiry">
                    <ul class="pop-result">
                        <li>
                            <p class="tit">
                                <span>접수일</span>
                                <small>상담일 접수기준</small>
                            </p>
                          <p class="txt">2015-12-01</p>
                        </li>
                        <li>
                            <p class="tit">접수매장</p>
                            <p class="txt">코오롱인더스트리㈜ FNC부문 코오롱스포츠 강남직영점</p>
                        </li>
                        <li>
                            <p class="tit">상품코드</p>
                            <p class="txt prod-code">77TAM17250WHX</p>
                        </li>
                        <li>
                            <p class="tit">수선내용</p>
                            <p class="txt">기장수선</p>
                        </li>
                        <li>
                            <p class="tit">수선예정 완성일</p>
                            <p class="txt">2014.08.01</p>
                        </li>
                        <li>
                            <p class="tit">유/무상 현황</p>
                            <p class="txt">무상</p>
                        </li>
                        <li>
                            <p class="tit">수선완료일</p>
                            <p class="txt">2014.07.28</p>
                        </li>
                        <li>
                            <p class="tit">
                                <span>매장발송일</span>
                                <small>수선실→매장</small>
                            </p>
                            <p class="txt">2014.07.29</p>
                        </li>
                        <li>
                            <p class="tit">담당자</p>
                            <p class="txt">이성근</p>
                        </li>
                    </ul>
                    <a href="javascript:history.go(-1)">확인</a>
                </div>
            </article>


        </section>
    {{/inline}}
{{/mobile/layouts/default}}
