<li data-node-id="{{nodeId}}" data-kb-id="{{kbId}}">
    <p class="ques">
        <a href="#"><span>{{title}}</span></a>
    </p>
    <p class="answer">
        <span class="txt"></span>
        <a href="#" class="close">닫기</a>
    </p>
</li>