<div class="thumb-list slide-list">
    <div class="swiper-wrapper">
    {{#results}}
        {{>desktop/components/banner/contents/square this}}
    {{/results}}
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-controls">
        <button type="button" class="swiper-button-prev">prev</button>
        <button type="button" class="swiper-button-next">next</button>
    </div>
</div>