{{#> mobile/layouts/popup }}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="order-notice">
                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>취소/교환/반품 안내</h1>
                </div>
                
                <ul class="notice">
                    <li>배송상태가 발송 준비 중이라 하여도 오전 9시30분 이후에 요청된 건에 대해서는 주문취소처리가 불가능하며,</li>
                    <li>발송된 상품과 동일하게 처리가 되어 상품 수령 후 반품 절차를 밟으셔야 합니다.</li>
                    <li>상품 발송 전 주문 취소할 경우 신용카드 결제는 24시간 이내 승인 취소 해드리며, 은행 송금의 경우 영업일 3일 이내에 일괄적으로 자동 환불 됩니다.</li>
                </ul>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/popup}}
