{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="고객센터 -  온라인 고객보상제"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="Compensation"}}

             <article class="compensation contents">
                <h3>온라인 고객보상제</h3>

                <ul class="tab list3">
                    <li class="on"><a href="/Compensation/Delay">배송지연 고객보상제</a></li>
                    <li><a href="/Compensation/SoldOut">품절 취소 고객보상제</a></li>
                    <li><a href="/Compensation/Coupon">보상쿠폰 사용안내</a></li>
                </ul>

                <div class="content">
                  <h4>배송지연 고객보상이란?</h4>
                  <ul>
                    <li>고객님께 약속 드린 고객 보상 출고일이 지난 이후에 상품이 배송 되었을 경우, 해당 상품 금액 및 초과일 기준에 따른 보상 쿠폰을 지급해 드리는 제도입니다.</li>
                    <li>배송 지연 신고 접수기간(수령일로부터 7일 이내)이 경과 된 건에 대해서는 보상 쿠폰 지급이 불가능 한점 양해 바랍니다. </li>
                  </ul>
                  <p>
                      <a href="/Contact/Add" class="btn btn-line btn-medium">1:1 상담하기</a>
                  </p>

                  <h4>고객보상기준</h4>
                  <table>
                    <caption>고객보상기준</caption>
                    <thead>
                      <tr>
                        <th>상품금액/배송지연</th>
                        <th>1~2일 초과배송</th>
                        <th>3~4일 초과배송</th>
                        <th>5~6일 초과배송</th>
                        <th>7일 이상 초과배송</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>5만원 미만</th>
                        <td>1천원 할인쿠폰</td>
                        <td>2천원 할인쿠폰</td>
                        <td>3천원 할인쿠폰</td>
                        <td>4천원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>5~10만원 미만</th>
                        <td>2천원 할인쿠폰</td>
                        <td>3천원 할인쿠폰</td>
                        <td>4천원 할인쿠폰</td>
                        <td>5천원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>10~50만원 미만</th>
                        <td>3천원 할인쿠폰</td>
                        <td>4천원 할인쿠폰</td>
                        <td>5천원 할인쿠폰</td>
                        <td>6천원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>50~100만원 미만</th>
                        <td>4천원 할인쿠폰</td>
                        <td>5천원 할인쿠폰</td>
                        <td>6천원 할인쿠폰</td>
                        <td>7천원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>100~200만원 미만</th>
                        <td>5천원 할인쿠폰</td>
                        <td>6천원 할인쿠폰</td>
                        <td>7천원 할인쿠폰</td>
                        <td>8천원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>200만원 이상</th>
                        <td>7천원 할인쿠폰</td>
                        <td>8천원 할인쿠폰</td>
                        <td>9천원 할인쿠폰</td>
                        <td>1만원 할인쿠폰</td>
                      </tr>
                      <tr>
                        <th>입금완료 3일 이내 안내시</th>
                        <td colspan="4">고객보상 지급 대상 제외</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </article>
        </section>
    {{/inline}}

{{/desktop/layouts/default}}
