{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="고객센터 -  온라인 고객보상제"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="Compensation"}}

            <article class="compensation contents">
                <h3>온라인 고객보상제</h3>

                <ul class="tab list3" id="compensationTabs">
                    <li class="on"><a href="#" data-tab-type="delay">배송지연 고객보상제</a></li>
                    <li><a href="#" data-tab-type="soldOut">품절 취소 고객보상제</a></li>
                    <li><a href="#" data-tab-type="coupon">보상쿠폰 사용안내</a></li>
                </ul>

                <div class="content" id="delayContent">
                    <h4>배송지연 고객보상이란?</h4>
                    <ul>
                        <li>고객님께 약속 드린 고객 보상 출고일이 지난 이후에 상품이 배송 되었을 경우, 해당 상품 금액 및 초과일 기준에 따른 보상 쿠폰을 지급해 드리는 제도입니다.</li>
                        <li>배송 지연 신고 접수기간(수령일로부터 7일 이내)이 경과 된 건에 대해서는 보상 쿠폰 지급이 불가능 한점 양해 바랍니다. </li>
                    </ul>
                    <p>
                        <a href="/Contact/Add" class="btn btn-line btn-medium">1:1 상담하기</a>
                    </p>

                    <h4>고객보상기준</h4>
                    <table>
                        <caption>고객보상기준</caption>
                        <thead>
                        <tr>
                            <th>상품금액/배송지연</th>
                            <th>1~2일 초과배송</th>
                            <th>3~4일 초과배송</th>
                            <th>5~6일 초과배송</th>
                            <th>7일 이상 초과배송</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>5만원 미만</th>
                            <td>1천원 할인쿠폰</td>
                            <td>2천원 할인쿠폰</td>
                            <td>3천원 할인쿠폰</td>
                            <td>4천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>5~10만원 미만</th>
                            <td>2천원 할인쿠폰</td>
                            <td>3천원 할인쿠폰</td>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>10~50만원 미만</th>
                            <td>3천원 할인쿠폰</td>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                            <td>6천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>50~100만원 미만</th>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                            <td>6천원 할인쿠폰</td>
                            <td>7천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>100~200만원 미만</th>
                            <td>5천원 할인쿠폰</td>
                            <td>6천원 할인쿠폰</td>
                            <td>7천원 할인쿠폰</td>
                            <td>8천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>200만원 이상</th>
                            <td>7천원 할인쿠폰</td>
                            <td>8천원 할인쿠폰</td>
                            <td>9천원 할인쿠폰</td>
                            <td>1만원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>입금완료 3일 이내 안내시</th>
                            <td colspan="4">고객보상 지급 대상 제외</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="content" id="soldOutContent" style="display: none;">
                    <h4>품절취소 고객보상이란?</h4>
                    <p>
                        고객님께서 주문하신 상품이 상품공급상의 문제로 인해, 주문취소요청을 드리게 될 경우 해당 되는 상품 금액 및 초과일 기준에 따른<br>
                        보상 쿠폰을 지급해 드리는 제도입니다.
                    </p>
                    <p>
                        <a href="/Contact/Add" class="btn btn-line btn-medium">1:1 상담하기</a>
                    </p>

                    <h4>품절취소 고객보상제<small>(결제완료기준)</small></h4>
                    <table>
                        <caption>품절취소 고객보상제</caption>
                        <thead>
                        <tr>
                            <th>상품금액/배송지연</th>
                            <th>4일째 취소</th>
                            <th>5일째 취소</th>
                            <th>7일째 취소</th>
                            <th>7일 이후 취소</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>5만원 미만</th>
                            <td>2천원 할인쿠폰</td>
                            <td>3천원 할인쿠폰</td>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>5~10만원 미만</th>
                            <td>3천원 할인쿠폰</td>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                            <td>6천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>10만원 이상</th>
                            <td>4천원 할인쿠폰</td>
                            <td>5천원 할인쿠폰</td>
                            <td>6천원 할인쿠폰</td>
                            <td>7천원 할인쿠폰</td>
                        </tr>
                        <tr>
                            <th>입금완료 3일 이내 안내시</th>
                            <td colspan="4">고객보상 지급 대상 제외</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="content" id="couponContent" style="display: none;">
                    <h4>보상쿠폰 사용안내</h4>
                    <ul>
                        <li>배송 지연 또는 품절 안내 지연으로 인한 보상쿠폰 발급 요청 시 접수일로부터 7일 이내 발급 해 드립니다.</li>
                        <li>접수 방법은 고객 센터 (1588-7667)로 연락 주시거나, 1:1 상담 게시판에 남겨 주세요.</li>
                        <li>보상으로 지급된 할인 쿠폰은 제한 사항 없이 6개월 이내에만 쓰실 수 있습니다. (발행일로부터 6개월 이후 자동 소멸)</li>
                        <li>아래의 내용에 포함되는 경우 고객보상에서 제외됩니다.</li>
                    </ul>

                    <h4>고객보상 제외 경우</h4>
                    <ul>
                        <li>토, 일, 공휴일은 배송일에 포함되지 않으며, 고객과실, 택배사고, 천재지변 등의 경우.</li>
                        <li>입금완료 3일 이내 배송지연 및 품절에 대한 전화안내 또는 메일 안내가 진행된 경우.</li>
                        <li>예약상품은 고객보상 제외 단, 코오롱의 배송 기일은 5일이며, 일부 상품의 경우 안내된 배송기일 기준에서 지연 경과된 일자에 따라 보상해 드립니다.</li>
                    </ul>
                    <p>
                        <a href="/Contact/Add" class="btn btn-line btn-medium">1:1 상담하기</a>
                    </p>

                </div>

            </article>
        </section>
    {{/inline}}

{{/desktop/layouts/default}}
