{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="주문 임직원결제"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="cart-wrap">
                
                <h3>주문서 작성</h3>

                <ul class="cart-step">
                    <span>장바구니</span>
                    <span class="active">주문서작성</span>
                    <span class="last">주문완료</span>
                </ul>

                <div class="order-lists">
                    <p class="all-select">주문상품(2)</p>
                    <div class="lists">
                        <div class="head">
                            <span class="tit-7">상품정보</span>
                            <span class="tit-8">결제금액</span>
                            <span class="tit-8">최대 적립포인트</span>
                            <span class="tit-8">배송정보</span>
                            <span class="tit-8">구분</span>
                        </div>
                        <div class="list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <span>무료</span>
                            </p>
                            <p class="division">
                                <span>본사배송</span>
                            </p>
                        </div>

                        <div class="list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <span>무료</span>
                            </p>
                            <p class="division">
                                <span>본사배송</span>
                            </p>
                        </div>

                        <div class="list set-list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                                <div class="options"><a href="#" class="btn-option">사이즈변경</a></div>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <span>무료</span>
                            </p>
                            <p class="division">
                                <span>본사배송</span>
                            </p>
                        </div>

                    </div>
                </div>

                
                <div class="shipping">
                    <h4>사은혜택(2) <small>고객님의 사은품 증정 내역입니다.</small></h4>
                    <ul class="gifts">
                        <li>
                            <p class="title">[WAAC] UTG 강희재 PICK상품 30만원 이상 구매 사은품</p>
                            <div class="gift">
                                <p class="thumb"><img src="/_ui/img/pc/temp/@100x120.png" alt=""></p>
                                <div class="cnt">
                                    <p class="brand">WAAC</p>
                                    <p class="title">강희재 모자 - 볼륨 매쉬 업</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="title">[WAAC] UTG 강희재 PICK상품 30만원 이상 구매 사은품</p>
                            <div class="gift">
                                <p class="thumb"><img src="/_ui/img/pc/temp/@100x120.png" alt=""></p>
                                <div class="cnt">
                                    <p class="brand">WAAC</p>
                                    <p class="title">강희재 모자 - 볼륨 매쉬 업</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="order-write-table">
                    <div class="col">
                        <h5>주문고객</h5>
                        <dl>
                            <dt>주문고객</dt>
                            <dd>김하나</dd>
                            <dt>휴대폰</dt>
                            <dd>010-2345-6789</dd>
                            <dt>이메일</dt>
                            <dd>hana@kolon.com</dd>
                        </dl>
                    </div>
                    <div class="col">
                        <h5>배송지 정보</h5>
                        <dl>
                            <dt>받는분</dt>
                            <dd>김하나</dd>
                            <dt>휴대폰</dt>
                            <dd>010-2345-6789</dd>
                            <dt>전화번호</dt>
                            <dd>02-752-2542</dd>
                            <dt>배송주소</dt>
                            <dd>06235   서울시 강남구 테헤란로 20길 12 안타워 4층</dd>
                            <dt>배송메모</dt>
                            <dd>배송 도착 전 연락 부탁드립니다.<br>배송완료하시면 인증사진과 문자 꼭 보내주시세요!</dd>
                        </dl>
                    </div>
                </div>

                <div class="order-write sale-select">
                    <h5>할인혜택</h5>
                    <dl class="order-form">
                        <dt>
                            <span class="radio">
                                <input type="radio" id="dis_coupon" name="discount" checked="checked">
                                <i></i>
                                <label for="dis_coupon">쿠폰(2)</label>
                            </span>
                        </dt>
                        <dd>
                            <div class="row">
                                <span class="select col-1">
                                    <select id="" name="" required="" aria-required="true">
                                        <option value="">쿠폰을 선택하여 주세요.</option>
                                    </select>
                                </span>

                                <span class="select col-1">
                                    <select id="" name="" required="" aria-required="true">
                                        <option value="">추가 쿠폰을 선택하여 주세요.</option>
                                    </select>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <input type="text" class="full" placeholder="등록하실 쿠폰 번호를 입력하여 주세요.">
                                    <p class="desc">보유쿠폰이 있으시면 직원 전용 구매권, 포인트, 예치금 보다 먼저 사용하여 주세요.</p>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-line btn-small">등록</button>
                                </div>
                            </div>
                            <div>
                                <ul class="my-coupon">
                                    <li>
                                        <strong>ADAD-12-AD-568921</strong> (코오롱스포츠 2만원 할인)
                                        <button type="button" class="btn btn-del">삭제</button>
                                    </li>
                                    <li>
                                        <strong>ADAD-12-AD-568921</strong> (코오롱스포츠 2만원 할인)
                                        <button type="button" class="btn btn-del">삭제</button>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dt>
                            <span class="radio">
                                <input type="radio" id="dis_family" name="discount">
                                <i></i>
                                <label for="dis_family">직원전용 구매권</label>
                            </span>
                        </dt>
                        <dd>
                            <div class="col-1 disabled-input">
                                <input type="text" class="full" value="0">
                                <span><em>원</em> / 270,500원</span>
                                <p class="desc">각 구매권 금액이상의 주문상품에 사용가능합니다.</p>
                            </div>
                             <div class="col-2">
                                <button class="btn btn-line btn-small" data-trigger="layer" data-target=".layer-family">등록</button>
                            </div>
                        </dd>
                        <dt>
                            <span class="radio">
                                <input type="radio" id="dis_return" name="discount">
                                <i></i>
                                <label for="dis_return">예치금</label>
                            </span>
                        </dt>
                        <dd>
                            <div class="col-1 disabled-input">
                                <input type="text" class="full" value="0">
                                <span><em>원</em> / 270,500원</span>
                            </div>
                             <div class="col-2">
                                <span class="checkbox">
                                    <input type="checkbox" id="all_use1">
                                    <i></i>
                                </span>
                                <label for="all_use1">모두사용</label>
                            </div>
                        </dd>
                        <dt>
                            <span class="radio">
                                <input type="radio" id="dis_point" name="discount">
                                <i></i>
                                <label for="dis_point">포인트</label>
                            </span>
                        </dt>
                        <dd>
                            <div class="col-1 disabled-input">
                                <input type="text" class="full" value="0">
                                <span><em>P</em> / 270,500P</span>
                                <p class="desc">
                                    보유포인트내에서 주문금액만큼 즉시 사용이 가능합니다.<br>
                                    eKOLON포인트와 쿠폰 사용시 유효기간을 꼭 확인해 주시고 유효기간이 지나기 전에<br>
                                    입금해 주시기 바라며 유효기간이 이후 입금할 경우 주문이 취소됩니다. 
                                </p>
                            </div>
                             <div class="col-2">
                                <span class="checkbox">
                                    <input type="checkbox" id="all_use2">
                                    <i></i>
                                </span>
                                <label for="all_use2">모두사용</label>
                            </div>
                        </dd>
                    </dl>
                </div>

                <div class="billing">
                    <div class="default-pay">
                        <div><strong>총 상품 금액</strong> <span>123,207,000원</span></div>
                        <div><strong>배송비</strong> <span>20,700원</span></div>
                    </div>
                    <div class="sale-pay">
                        <div class="before">
                            <div><strong>총 할인 금액</strong> <span>50,000원</span></div>
                            <div><strong>보유금 사용</strong> <span>50,000원</span></div>
                        </div>
                    </div>
                    <div class="total">
                        <div><strong>총 주문금액</strong> <span><em>159,000</em>원</span></div>
                    </div>
                </div>

                <div class="order-info">
                    <div class="way">
                        <h5>결제수단선택</h5>
                        <ul>
                            <li>
                                <input type="radio" name="order-way" id="card" checked="checked">
                                <label for="card" class="ico1">신용카드</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="payco">
                                <label for="payco" class="ico2">페이코</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="kakao">
                                <label for="kakao" class="ico3">카카오페이</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="bank">
                                <label for="bank" class="ico4">실시간 계좌이체</label>
                            </li>
                        </ul>
                        <div class="txt">
                            <span class="checkbox">
                                <input type="checkbox" id="next-order">
                                <i></i>
                            </span>
                            <label for="next-order">지금 선택한 결제수단을 다음에도 사용</label>
                        </div>
                    </div>

                    <div class="way-info">
                        <!-- 신용카드 이용안내 -->
                        <div class="card">
                            <h5>신용카드 이용안내</h5>
                            <dl>
                                <dt>무이자 할부</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-sk.gif" alt="하나sk카드">
                                            </span>
                                            <span class="txt">2~5개월 무이자(5만원 이상)</span>
                                        </li>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-samsung.gif" alt="삼성카드">
                                            </span>
                                            <span class="txt">2~5개월 무이자(5만원 이상)</span>
                                        </li>
                                    </ul>
                                </dd>
                                <dt>청구할인</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-sk.gif" alt="하나sk카드">
                                            </span>
                                            <span class="txt">청구할인율 5% (2015.7.13 ~ 2015.7.31)</span>
                                        </li>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-samsung.gif" alt="삼성카드">
                                            </span>
                                            <span class="txt">청구할인율 7% (2015.7.17 ~ 2015.7.31)</span>
                                        </li>
                                    </ul>
                                </dd>
                                <dt>즉시할인</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-sk.gif" alt="하나sk카드">
                                            </span>
                                            <span class="txt">3% 즉시할인</span>
                                        </li>
                                        <li>
                                            <span class="thumb">
                                                <img src="/_ui/img/pc/temp/@card-samsung.gif" alt="삼성카드">
                                            </span>
                                            <span class="txt">4% 즉시할인</span>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <!-- // 신용카드 이용안내 -->

                        <!-- PAYCO 간편결제 안내 -->
                        <div class="payco">
                            <h5>PAYCO 간편결제 안내</h5>
                            <ul class="bul-list">
                                <li>PAYCO는 NHN엔터테인먼트가 만든 안전한 간편결제 서비스입니다.</li>
                                <li>휴대폰과 카드 명의자가 동일해야 결제 가능하며, 결제금액 제한은 없습니다.</li>
                                <li>지원카드: 모든 국내 신용/체크카드</li>
                                <li>코오롱몰에서 페이코 첫 결제 시 1만원 즉시 할인됩니다. (10만원 이상 구매 시 1만원 할인)</li>
                            </ul>
                        </div>
                        <!-- // PAYCO 간편결제 안내 -->

                        <!-- 카카오페이 안내 -->
                        <div class="kako">
                            <h5>카카오페이 안내</h5>
                            <ul class="bul-list">
                                <li>카카오페이 결제 시 공인인증서 없이 30만원 이상 결제 가능합니다.</li>
                                <li>카카오톡 안에서 개인카드(신용/체크)를 등록하여 다양한 곳에서 결제 시 간단하게 비밀번호만으로<br>결제할 수 있는 모바일 결제서비스입니다.</li>
                                <li>본인명의 핸드폰에서 본인명의 카드로만 등록 후 사용 가능합니다.</li>
                            </ul>
                        </div>
                        <!-- // 카카오페이 안내 -->

                        <!-- 실시간 계좌이체 안내 -->
                        <div class="bank">
                            <h5>실시간 계좌이체 안내</h5>
                            <p>
                                <strong>현금영수증</strong>
                                주문확인 후 LGU+ 결제창에서 현금영수증 신청이 가능합니다.
                            </p>
                        </div>
                        <!-- // 실시간 계좌이체 안내 -->

                    </div>
                </div>

                <div class="order-info">
                    <div class="way">
                        <h5>결제수단선택</h5>
                        <ul class="disabled">
                            <li>
                                <input type="radio" name="order-way" id="card">
                                <label for="card" class="ico1">신용카드</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="payco">
                                <label for="payco" class="ico2">페이코</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="kakao">
                                <label for="kakao" class="ico3">카카오페이</label>
                            </li>
                            <li>
                                <input type="radio" name="order-way" id="bank">
                                <label for="bank" class="ico4">실시간 계좌이체</label>
                            </li>
                        </ul>
                        <div class="txt">
                            <span class="checkbox">
                                <input type="checkbox" id="next-order">
                                <i></i>
                            </span>
                            <label for="next-order">지금 선택한 결제수단을 다음에도 사용</label>
                        </div>
                    </div>

                    <div class="way-info">
                        <h5>환불정보</h5>
                        <div class="row">
                            <span class="radio">
                                <input type="radio" id="refund1" name="refund">
                                <i></i>
                                <label for="refund1">없음</label>
                            </span>
                            <span class="radio">
                                <input type="radio" id="refund2" name="refund">
                                <i></i>
                                <label for="refund2">계좌입금</label>
                            </span>
                        </div>
                        <div class="row">
                            <span class="select col-1">
                                <select id="" name="" required="" aria-required="true">
                                    <option value="">은행선택</option>
                                </select>
                            </span>
                            <span class="col-1">
                               <input type="text" class="full" placeholder="예금주">
                            </span>
                        </div>
                        <div class="row">
                            <input type="text" class="full" placeholder="계좌번호">
                        </div>
                    </div>
                </div>

                

                <div class="cart-info">
                    <h6>주문 전 확인하세요!</h6>
                    <ul class="bul-list">
                        <li>실제 결제 금액에 따라 적립포인트는 변경될 수 있습니다.</li>
                        <li>포인트는 할인 및 쿠폰 적용, 특가 상품 구입 시 적립되지 않습니다.</li>
                        <li>포인트와 쿠폰 사용 시 유효기간을 꼭 확인해 주시고, 가급적 카드결제를 권장해 드립니다.</li>
                        <li class="strong">매장픽업 주문 시 결제는 신용카드, 카카오페이, 실시간계좌 이체만 가능합니다.</li>
                    </ul>
                </div>

                <div class="order-agree">
                    <h5>주문동의</h5>
                    <p>주문할 상품의 상품명, 상품가격, 배송정보를 확인하였으며, 구매에 동의하시겠습니까? (전자상거래법 제8조 제2항)</p>
                    <span class="checkbox">
                        <input type="checkbox" id="order-agree">
                        <i></i>
                    </span>
                    <label for="order-agree">동의합니다.</label>
                </div>

                <div class="buttons end-row">
                    <button type="button" class="btn btn-line btn-big">장바구니</button>
                    <button type="button" class="btn btn-order btn-big">결제하기</button>
                </div>

            </article>

        </section>

        <section class="layer-popup layer-family">
          <div class="layer">
            <div class="inner">
              <div class="head">
                <h1>직원전용 구매권 등록</h1>
                <button tyle="button" class="close">레이어 닫기</button>
              </div>
              <div class="content">
                  <p>소지하고 계신 직원전용 구매권 번호를 입력해 주세요.<br>구매권 번호를 계속 입력하시면 추가 등록이 가능합니다.</p>
                  <div class="write-number">
                    <input type="text" placeholder="구매권 번호를 입력하세요.">
                    <button type="button" class="btn">등록</button>
                  </div>
                  <ul class="number-list">
                    <li class="on">
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num1" checked="checked">
                            <i></i>
                        </span>
                        <label for="buy_num1">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num2">
                            <i></i>
                        </span>
                        <label for="buy_num2">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num3">
                            <i></i>
                        </span>
                        <label for="buy_num3">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num4">
                            <i></i>
                        </span>
                        <label for="buy_num4">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num5">
                            <i></i>
                        </span>
                        <label for="buy_num5">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                    <li>
                        <span class="checkbox">
                            <input type="checkbox" id="buy_num6">
                            <i></i>
                        </span>
                        <label for="buy_num6">5690-5349-0246-89</label>
                        <span class="price">
                            100,000원
                        </span>
                    </li>
                  </ul>
                  <div class="total">
                    <span class="sum">총 금액</span>
                    <span><em>4,000,000</em>원</span>
                  </div>
              </div>
              <div class="foot">
                <button type="button" class="btn btn-line close-layer">취소</button>
                <button type="button" class="btn">적용</button>
              </div>
          </div>
        </section>

    {{/inline}}

{{/desktop/layouts/default}}
