{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="주문 - 임직원 주문 완료"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="cart-wrap">
                
                <h3>주문완료</h3>

                <ul class="cart-step">
                    <span>장바구니</span>
                    <span>주문서작성</span>
                    <span class="last active">주문완료</span>
                </ul>

               <div class="complete">
                    <p class="txt">고객님의 주문이 정상적으로 완료되었습니다.</p>
                    <p class="order-num">
                        주문번호 <span>15080389198</span>
                    </p>
                    <div class="btn-wrap">
                        <a href="#" class="btn btn-line btn-small">주문조회</a>
                    </div>
                    <p class="desc">
                        <small>주문과 관련한 문의사항이 있으시면<br>고객센터 > 1:1상담을 이용해 주시기 바랍니다.</small>
                    </p>
                </div>

                <div class="billing-info">
                    <h4>결제정보</h4>
                    <div class="table">
                        <div class="col">
                            <h5>총 상품금액</h5>
                            <ul>
                                <li>
                                    <strong>상품합계</strong>
                                    <span class="price" style="min-width: 47px;">9,000원</span>
                                </li>
                                <li>
                                    <strong>배송비</strong>
                                    <span class="price" style="min-width: 47px;">2,500원</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>할인내역</h5>
                            <ul>
                                    <li>
                                        <strong>쿠폰</strong>
                                        <span class="price" style="min-width: 47px;">- 0원</span>
                                    </li>
                                    <li>
                                        <strong>프로모션</strong>
                                        <span class="price" style="min-width: 47px;">- 0원</span>
                                    </li>
                                    <li>
                                        <strong>임직원할인</strong>
                                        <span class="price" style="min-width: 47px;">- 0원</span>
                                    </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>결제수단</h5>
                            <ul>
                                <li>
                                    <strong>직원전용 구매권</strong>
                                    <span class="price" style="min-width: 47px;">11,500원</span>
                                </li>
                                <li>
                                    <strong>예치금</strong>
                                    <span class="price" style="min-width: 47px;">11,500원</span>
                                </li>
                                <li>
                                    <strong>포인트</strong>
                                    <span class="price" style="min-width: 47px;">11,500원</span>
                                </li>
                                <li>
                                    <strong>신용카드</strong>
                                    <span class="price" style="min-width: 47px;">삼성카드(2개월) 11,500원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="total">
                        총 결제금액 <em>11,500</em>원
                    </div>
                </div>

                <div class="buttons end-row">
                    <button type="button" class="btn btn-line btn-big">장바구니</button>
                    <button type="button" class="btn btn-line btn-big">메인으로</button>
                </div>

                <div class="prod-list">
                    <h5 class="title">이런 상품은 어떠세요?</h5>
                    <div class="prod-list-swipe">
                        <div class="swiper-wrapper">
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-controls">
                        <button type="button" class="swiper-button-prev">prev</button>
                        <button type="button" class="swiper-button-next">next</button>
                    </div>
                </div>

            </article>


        </section>

    {{/inline}}

{{/desktop/layouts/default}}
