{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="주문 - 매장픽업 정보"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="cart-wrap">
                
                <h3>주문서 작성</h3>

                <ul class="cart-step">
                    <span>장바구니</span>
                    <span class="active">주문서작성</span>
                    <span class="last">주문완료</span>
                </ul>

                <div class="order-lists pickup-lists">
                    <p class="all-select">주문상품(2)</p>
                    <div class="lists">
                        <div class="head">
                            <span class="tit-9">상품정보</span>
                            <span class="tit-8">결제금액</span>
                            <span class="tit-8">최대 적립포인트</span>
                            <span class="tit-8">픽업정보</span>
                        </div>
                        <div class="list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <strong class="company">코오롱인더스트리 (주)FNC부문 코오롱</strong>
                                <span class="date">2017.07.23<br>14:30 ~ 16:30</span>
                            </p>
                        </div>

                        <div class="list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <strong class="company">코오롱인더스트리 (주)FNC부문 코오롱</strong>
                                <span class="date">2017.07.23<br>14:30 ~ 16:30</span>
                            </p>
                        </div>

                        <div class="list set-list">
                            <p class="thumb">
                                <img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt="아가일 체크 양말">
                            </p>
                            <div class="product">
                                <h4>
                                    customellow
                                    <small>CWXX06881WI</small>
                                </h4>
                                <p>아가일 체크 양말</p>
                                <ul class="meta">
                                    <li>
                                        <em>수량</em>
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <em>옵션</em>
                                        <span>와인, XXX</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="price">
                                9,000원
                            </p>
                            <div class="point">10,000P</div>
                            <p class="delivery">
                                <strong class="company">코오롱인더스트리 (주)FNC부문 코오롱</strong>
                                <span class="date">2017.07.23<br>14:30 ~ 16:30</span>
                            </p>
                        </div>

                    </div>
                </div>

                
                <div class="shipping">
                    <h4>사은혜택(2) <small>고객님의 사은품 증정 내역입니다. 사은품을 선택하여 주십시오.</small></h4>
                    <ul class="gifts">
                        <li>
                            <p class="title">[WAAC] UTG 강희재 PICK상품 30만원 이상 구매 사은품</p>
                            <div class="gift">
                                <p class="thumb"><img src="/_ui/img/pc/temp/@100x120.png" alt=""></p>
                                <div class="cnt">
                                    <p class="brand">WAAC</p>
                                    <p class="title">강희재 모자 - 볼륨 매쉬 업</p>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="gifts1" name="gifts-item">
                                    <label for="gifts1">강희재 모자 - 볼륨 매쉬 업</label>
                                    <i></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="gift">
                                <p class="thumb"><img src="/_ui/img/pc/temp/@100x120.png" alt=""></p>
                                <div class="cnt">
                                    <p class="brand">WAAC</p>
                                    <p class="title">강희재 모자 - 볼륨 매쉬 업</p>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="gifts2" name="gifts-item">
                                    <label for="gifts2">강희재 모자 - 볼륨 매쉬 업</label>
                                    <i></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="title">[WAAC] UTG 강희재 PICK상품 30만원 이상 구매 사은품</p>
                            <div class="gift">
                                <p class="thumb"><img src="/_ui/img/pc/temp/@100x120.png" alt=""></p>
                                <div class="cnt">
                                    <p class="brand">WAAC</p>
                                    <p class="title">강희재 모자 - 볼륨 매쉬 업</p>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="gifts3" name="gifts-item2">
                                    <label for="gifts3">강희재 모자 - 볼륨 매쉬 업</label>
                                    <i></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="bul-list">
                        <li>사은품이 여러 개인 경우 원하시는 사은품을 선택하실 수 있습니다.</li>
                        <li>사은품을 매장 픽업하실경우 사은품은 택배로 발송됩니다. 사은품을 수령하실 주소를 입력해주세요.</li>
                    </ul>
                </div>

                <div class="order-write">
                    <h5>사은품 배송지 정보</h5>
                    <dl class="order-form">
                        <dt>받는분<em class="required" aria-required="true">필수</em></dt>
                        <dd>
                            <div class="col-1">
                                <input type="text" id="user_to" name="user_to" placeholder="이름을 입력하세요.">
                            </div>
                            <div class="col-2">
                                <span class="checkbox">
                                    <input type="checkbox" id="user_same">
                                    <i></i>
                                </span>
                                <label for="user_same">주문고객과 동일</label>

                                <span class="checkbox">
                                    <input type="checkbox" id="new_addr">
                                    <i></i>
                                </span>
                                <label for="new_addr">새로 입력</label>

                                <button class="btn btn-line btn-small">나의 배송지</button>
                            </div>
                        </dd>
                        <dt>휴대폰<em class="required" aria-required="true">필수</em></dt>
                        <dd>
                            <div class="col-1">
                                <input type="text" id="customer_tel" name="customer_tel" placeholder="‘-’ 를 제외한 숫자만 입력하세요." value="">
                            </div>
                        </dd>
                        <dt>전화번호</dt>
                        <dd>
                            <div class="col-1">
                                <input type="text" id="customer_tel2" name="customer_tel2" placeholder="‘-’ 를 제외한 숫자만 입력하세요." value="">
                            </div>
                        </dd>
                        <dt>우편번호<em class="required" aria-required="true">필수</em></dt>
                        <dd>
                            <div class="row">
                                <div class="col-1">
                                    <input type="text">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-line btn-small">우편번호찾기</button>
                                </div>
                            </div>
                            <div class="row">
                                <input type="text" class="full" placeholder="상세주소를 입력하세요.">
                            </div>
                        </dd>
                        <dt>배송메모<em class="required" aria-required="true">필수</em></dt>
                        <dd>
                            <div class="row">
                                <span class="select col-1">
                                <select id="choice_type" name="choice_type" required="" aria-required="true">
                                    <option value="">배송시 요청사항을 선택해 주세요.</option>
                                </select>
                                </span>
                            </div>
                            <div class="row">
                                <input type="text" class="full" placeholder="기타 내용을 직접 입력해 주세요. (한글 20자 이내)">
                            </div>
                        </dd>
                    </dl>
                </div>

                <div class="buttons end-row">
                    <button type="button" class="btn btn-order btn-big">주문하기</button>
                </div>

            </article>


        </section>

    {{/inline}}

{{/desktop/layouts/default}}
