{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="주문 - 매장픽업 상품 교환권"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            <article class="cart-wrap">
                
                <h3>주문완료</h3>

                <ul class="cart-step">
                    <span>장바구니</span>
                    <span>주문서작성</span>
                    <span class="last active">주문완료</span>
                </ul>

               <div class="complete">
                    <p class="txt">고객님의 주문이 정상적으로 완료되었습니다.</p>
                    <p class="order-num">
                        주문번호 <span>15080389198</span>
                    </p>
                    <div class="btn-wrap">
                        <a href="#" class="btn btn-line btn-small">주문조회</a>
                        <button class="btn btn-line btn-small" data-trigger="layer" data-target=".layer-change">교환권</button>
                    </div>
                    <p class="desc">
                        <small>주문과 관련한 문의사항이 있으시면<br>고객센터 > 1:1상담을 이용해 주시기 바랍니다.</small>
                    </p>
                </div>

                <div class="billing-info">
                    <h4>결제정보</h4>
                    <div class="table">
                        <div class="col">
                            <h5>총 상품금액</h5>
                            <ul>
                                <li>
                                    <strong>상품합계</strong>
                                    <span class="price" style="min-width: 47px;">9,000원</span>
                                </li>
                                <li>
                                    <strong>배송비</strong>
                                    <span class="price" style="min-width: 47px;">2,500원</span>
                                </li>
                            </ul>
                        </div>
                            <div class="col">
                                <h5>할인내역</h5>
                                <ul>
                                        <li>
                                            <strong>쿠폰</strong>
                                            <span class="price" style="min-width: 47px;">- 0원</span>
                                        </li>
                                        <li>
                                            <strong>프로모션</strong>
                                            <span class="price" style="min-width: 47px;">- 0원</span>
                                        </li>
                                        <li>
                                            <strong>임직원할인</strong>
                                            <span class="price" style="min-width: 47px;">- 0원</span>
                                        </li>
                                        <li>
                                            <strong>가격할인</strong>
                                            <span class="price" style="min-width: 47px;">- 0원</span>
                                        </li>
                                </ul>
                            </div>
                        <div class="col">
                            <h5>결제수단</h5>
                            <ul>
                                <li>
                                    <strong>예치금</strong>
                                    <span class="price" style="min-width: 47px;">11,500원</span>
                                </li>
                                <li>
                                    <strong>포인트</strong>
                                    <span class="price" style="min-width: 47px;">11,500원</span>
                                </li>
                                <li>
                                    <strong>신용카드</strong>
                                    <span class="price" style="min-width: 47px;">삼성카드(2개월) 11,500원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="total">
                        총 결제금액 <em>11,500</em>원
                    </div>
                </div>

                <div class="buttons end-row">
                    <button type="button" class="btn btn-line btn-big">장바구니</button>
                    <button type="button" class="btn btn-line btn-big">메인으로</button>
                </div>

                <div class="prod-list">
                    <h5 class="title">이런 상품은 어떠세요?</h5>
                    <div class="prod-list-swipe">
                        <div class="swiper-wrapper">
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                            <div class="list swiper-slide">
                                <a href="#">
                                    <p class="thumb"><img src="http://kopimages.kolon.com/Prod_Img/CM/2017/LM1/MFJBM17651NAV_LM1.jpg" alt=""></p>
                                    <p class="brand">KOLON SPORT</p>
                                    <p class="title">남성 CAMOU 경량 패딩 남성 CAMOU 경량 패딩</p>
                                    <p class="price">
                                        <del>100,000원</del>
                                        90,000원
                                    </p>
                                    <p class="sale">10%</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-controls">
                        <button type="button" class="swiper-button-prev">prev</button>
                        <button type="button" class="swiper-button-next">next</button>
                    </div>
                </div>

            </article>


        </section>

        <section class="layer-popup layer-change">
          <div class="layer">
            <div class="inner">
              <div class="head">
                <h1>매장픽업 상품교환권</h1>
                <button tyle="button" class="close">레이어 닫기</button>
              </div>
              <div class="content">
                <div class="prod-wrap">
                  <div class="prod">
                    <p class="thumb"><img src="/_ui/img/pc/temp/@96x118.png" alt=""></p>
                    <div class="product">
                        <h4>
                          customellow
                          <small>QEBBM17504NAY</small>
                        </h4>
                        <p>여성용 소형 백팩 BLOSSOM BAG</p>
                        <ul class="meta">
                          <li>
                            <em>수량</em>
                            <span>1</span>
                          </li>
                          <li>
                            <em>옵션</em>
                            <span>XXX</span>
                          </li>
                        </ul>
                      </div>
                      <span class="checkbox">
                        <input type="checkbox" id="user_same">
                        <i></i>
                      </span>
                  </div>
                  <div class="change-info">
                    <dl>
                      <dt>교환권번호</dt>
                      <dd>17022266316</dd>
                      <dt>픽업매장</dt>
                      <dd>코오롱스포츠 청담 플래그십 스토어</dd>
                      <dt>픽업예정일</dt>
                      <dd>2017. 08. 01</dd>
                      <dt>픽업시간</dt>
                      <dd>14:30 ~ 16:30</dd>
                    </dl>
                    <div class="barcode">
                      <img src="/_ui/img/pc/temp/img-barcode.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="send-wrap">
                  <span>휴대폰번호</span>
                  <strong>010-1234-5678</strong>
                  <p>(발송 잔여 : 3회)</p>
                  <div class="btn-wrap">
                    <button type="button" class="btn btn-line">취소</button>
                    <button type="button" class="btn">발송</button>
                  </div>
                </div>
                <div class="outer">
                  <strong>매장픽업 안내</strong>
                  <ul class="bul-list">
                    <li class="strong">구매자 본인의 휴대폰번호로만 교환권을 발송하실 수 있습니다.</li>
                    <li>MMS 발송은 3회 까지 가능하며, 상품의 대리픽업은 불가합니다.</li>
                    <li>매장픽업 상품의 교환이나 반품은 수령하신 매장 또는 KOLONmall 사이트에서<br>수령 후 7일 이내에만 가능합니다.</li>
                    <li>매장에서 상품 교환 시 사이즈 및 컬러 교환만 가능합니다.</li>
                  </ul>
                  <p>이러한 사유는 교환/반품이 불가합니다.</p>
                  <ul class="bul-list">
                    <li>고객님의 책임 있는 사유로 상품이 훼손된 경우</li>
                    <li>상품 고유의 포장이 훼손되어 상품 가치가 상실된 경우 (예: TAG / 라벨 등의 훼손)</li>
                    <li>시간의 경과에 의하여 재판매가 곤란할 정도로 상품가치가 현저히 감소한 경우</li>
                  </ul>
                </div>
              </div>
          </div>
        </section>

    {{/inline}}

{{/desktop/layouts/default}}
