{{#> mobile/layouts/popup}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="wow-my-kolon">

                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>브랜드</h1>
                </div>

                <div class="brand-select">
                    <h2>KOLON</h2>
                    <ul class="list">
                        <li class="on"><a href="#">KOLON SPORT</a></li>
                        <li><a href="#">SPASSO</a></li>
                        <li><a href="#">LUCKYCHOUETTE</a></li>
                        <li><a href="#">BRENTWOOD</a></li>
                        <li><a href="#">SUECOMMABONNIE</a></li>
                        <li><a href="#">HENRY COTTON'S</a></li>
                        <li><a href="#">SUPERCOMMA B</a></li>
                        <li><a href="#">ELORD</a></li>
                        <li><a href="#">COURONNE</a></li>
                        <li><a href="#">WAAC</a></li>
                        <li><a href="#">SERIES</a></li>
                        <li><a href="#">CLUB CAMBRIDGE</a></li>
                        <li><a href="#">EPIGRAM</a></li>
                        <li><a href="#">CAMBRIDGE MEMBERS</a></li>
                        <li><a href="#">CUSTOMELLOW</a></li>
                        <li><a href="#">K+</a></li>
                        <li><a href="#">HEAD</a></li>
                        <li><a href="#">STONEFEATHER</a></li>
                        <li><a href="#">JACK NICKLAUS</a></li>
                        <li><a href="#">AMANDA GHOST</a></li>
                        <li><a href="#">GGIO2</a></li>
                    </ul>

                    <h2>ALL</h2>
                    <div class="all-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">A</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">B</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">C</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="dis">D</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">E</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">F</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">G</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">H</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">I</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">J</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">K</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">L</a>
                            </div>
                        </div>
                        <i class="icn-navi"></i>
                    </div>

                    <ul class="al-list">
                        <li><span>A</span>
                            <ul>
                                <li class="on"><a href="#">Alessi</a></li>
                                <li><a href="#">ABCD KIDS</a></li>
                                <li><a href="#">Aykasa</a></li>
                                <li><a href="#">Abib</a></li>
                                <li><a href="#">ARP</a></li>
                                <li><a href="#">Alessi</a></li>
                                <li><a href="#">ABCD KIDS</a></li>
                                <li><a href="#">Aykasa</a></li>
                                <li><a href="#">Abib</a></li>
                                <li><a href="#">ARP</a></li>
                            </ul>
                        </li>
                        <li><span>B</span>
                            <ul>
                                <li><a href="#">Barr-co<li>
                                <li><a href="#">Blackthing<li>
                                <li><a href="#">BRIO<li>
                                <li><a href="#">Breville<li>
                                <li><a href="#">BUBBLE BEIGE<li>
                                <li><a href="#">bplusm<li>
                                <li><a href="#">Brita</a></li>
                            </ul>
                        </li>
                        <li><span>C</span>
                            <ul>
                                <li><a href="#">Cuero Design</a></li>
                                <li><a href="#">CLIPPE ITALY</a></li>
                                <li><a href="#">CHO MAROO</a></li>
                            </ul>
                        </li>
                        <li><span>E</span>
                            <ul>
                                <li><a href="#">Edison Lighting</a></li>
                                <li><a href="#">eleven plus</a></li>
                            </ul>
                        </li>
                        <li><span>E</span>
                            <ul>
                                <li><a href="#">FERM LIVING</a></li>
                                <li><a href="#">Fiskars</a></li>
                                <li><a href="#">Frama</a></li>
                                <li><a href="#">Flensted</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="btns on">
                        <div class="btn-ta">
                            <button type="button" disabled="disabled" class="btn-default">초기화</button>
                            <button type="button" class="btn-closed" onclick="javascript:history.go(-1)">닫기</button>
                        </div>
                        <div class="btn-tb">
                            <button type="button" class="btn-default">초기화</button>
                            <button type="button" class="btn-int">적용</button>
                        </div>
                    </div>

                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/popup}}
