{{#> mobile/layouts/popup}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <article class="wow-my-kolon">

                <div class="h1-top">
                    <a href="javascript:history.go(-1)" class="pop-close">닫기</a>
                    <h1>상세설정</h1>
                </div>

                <div class="select-wrap">
                    <div class="size top">
                        <h2>상의 사이즈</h2>
                        <ul>
                            <li><button type="button">80</button></li>
                            <li><button type="button">85</button></li>
                            <li><button type="button">90</button></li>
                            <li><button type="button">95</button></li>
                            <li><button type="button">100</button></li>
                            <li><button type="button">110</button></li>
                            <li><button type="button">115</button></li>
                            <li><button type="button">120</button></li>
                            <li><button type="button">FREE</button></li>
                            <li><button type="button">ALL</button></li>
                        </ul>
                    </div>

                    <div class="size bot">
                        <h2>하의 사이즈</h2>
                        <ul>
                            <li><button type="button">24</button></li>
                            <li><button type="button">26</button></li>
                            <li><button type="button">28</button></li>
                            <li><button type="button">30</button></li>
                            <li><button type="button">32</button></li>
                            <li><button type="button">34</button></li>
                            <li><button type="button">36</button></li>
                            <li><button type="button">38</button></li>
                            <li><button type="button">FREE</button></li>
                            <li><button type="button">ALL</button></li>
                        </ul>
                    </div>

                    <div class="size shoes">
                        <h2>신발 사이즈</h2>
                        <ul>
                            <li><button type="button">220</button></li>
                            <li><button type="button">225</button></li>
                            <li><button type="button">230</button></li>
                            <li><button type="button">235</button></li>
                            <li><button type="button">240</button></li>
                            <li><button type="button">245</button></li>
                            <li><button type="button">250</button></li>
                            <li><button type="button">255</button></li>
                            <li><button type="button">260</button></li>
                            <li><button type="button">265</button></li>
                            <li><button type="button">270</button></li>
                            <li><button type="button">275</button></li>
                            <li><button type="button">280</button></li>
                            <li><button type="button">285</button></li>
                            <li><button type="button">290</button></li>
                            <li><button type="button">FREE</button></li>
                            <li><button type="button">ALL</button></li>
                        </ul>
                    </div>

                    <div class="sel-color">
                        <h2>컬러</h2>
                        <ul>
                            <li><button type="button" style="background-color:#c8c8c8"></button></li>
                            <li><button type="button" style="background-color:#141414"></button></li>
                            <li><button type="button" style="background-color:#3ab4ec"></button></li>
                            <li><button type="button" style="background-color:#61a5b8"></button></li>
                            <li><button type="button" style="background-color:#f4f0e4"></button></li>
                            <li><button type="button" style="background-color:#ffc925"></button></li>
                            <li><button type="button" style="background-color:#16365f"></button></li>
                            <li><button type="button" style="background-color:#ddd9c3"></button></li>
                            <li><button type="button" style="background-color:#9f9664"></button></li>
                            <li><button type="button" style="background-color:#dbbbba"></button></li>
                            <li><button type="button" style="background-color:#9e5856"></button></li>
                            <li><button type="button" style="background-color:#f0ddcd"></button></li>
                            <li><button type="button" style="background-color:#b5e1e7"></button></li>
                            <li><button type="button" style="background-color:#b0a2b9"></button></li>
                            <li><button type="button" style="background-color:#563e66"></button></li>
                            <li><button type="button" style="background-color:#da3a3a"></button></li>
                            <li><button type="button" style="background-color:#651e1e"></button></li>
                            <li><button type="button" style="background-color:#565656"></button></li>
                            <li><button type="button" style="background-color:#badbc9"></button></li>
                            <li><button type="button" style="background-color:#587565"></button></li>
                            <li><button type="button" style="background-color:#d4d8e2"></button></li>
                            <li><button type="button" style="background-color:#a6acbc"></button></li>
                            <li><button type="button" style="background-color:#5e6577"></button></li>
                            <li><button type="button" style="background-color:#e8c4d0"></button></li>
                            <li><button type="button" style="background-color:#e84e85"></button></li>
                        </ul>
                    </div>

                    <div class="sel-price">
                        <h2>가격</h2>
                        <ul>
                            <li>
                                <input type="checkbox" name="color-select" class="checkbox" id="price01">
                                <label for="price01"></label>
                                <label for="price01">10만원대</label>
                            </li>
                            <li>
                                <input type="checkbox" name="color-select" class="checkbox" id="price02">
                                <label for="price02"></label>
                                <label for="price02">20만원대</label>
                            </li>
                            <li>
                                <input type="checkbox" name="color-select" class="checkbox" id="price03">
                                <label for="price03"></label>
                                <label for="price03">30만원대</label>
                            </li>
                            <li>
                                <input type="checkbox" name="color-select" class="checkbox" id="price04">
                                <label for="price04"></label>
                                <label for="price04">40만원대</label>
                            </li>
                            <li>
                                <input type="checkbox" name="color-select" class="checkbox" id="price05">
                                <label for="price05"></label>
                                <label for="price05">50만원 이상</label>
                            </li>
                        </ul>
                    </div>

                    <div class="btns">
                        <div class="btn-ta">
                            <button type="button" disabled="disabled" class="btn-default">초기화</button>
                            <button type="button" class="btn-closed" onclick="javascript:history.go(-1)">닫기</button>
                        </div>
                        <div class="btn-tb">
                            <button type="button" class="btn-default">초기화</button>
                            <button type="button" class="btn-int">적용</button>
                        </div>
                    </div>
                </div>

            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/popup}}
