{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="이용약관 - 개인정보취급방침"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="TermsAndConditions"}}

            <article class="terms contents">
                <h3>이용약관</h3>
                <ul class="tab list3">
                    <li><a href="/TermsAndConditions/Online">eKOLON 온라인 약관</a></li>
                    <li class="on"><a href="/TermsAndConditions/Membership">eKOLON 멤버십 약관</a></li>
                    <li ><a href="/TermsAndConditions/Privacy">개인정보처리방침</a></li>
                </ul>

                <div>
                    eKORON 멤버십 약관
                </div>

            </article>
        </section>


        </section>


    {{/inline}}

{{/desktop/layouts/default}}
