<article class="btm-bnr">
    <ul>
        {{#results}}
            <li>
                <a href="{{link}}"><img src="{{content.bgImage}}" /></a>
            </li>
        {{/results}}
    </ul>
</article>