@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('/_ui/font/HelveticaNeueLTStd-Lt.woff') format('woff'),
    url('/_ui/font/HelveticaNeueLTStd-Lt.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue'),
    url('/_ui/font/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('/_ui/font/HelveticaNeueLTStd-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  src: local('Helvetica Neue'),
    url('/_ui/font/HelveticaNeueLTStd-Bd.woff') format('woff'),
    url('/_ui/font/HelveticaNeueLTStd-Bd.ttf') format('truetype');
}
