{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="마이페이지 - 취소/반품/교환"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-mypage title="마이페이지" submenu="RMA"}}

            <article class="rma contents">
              <h3>주문상품 취소 상세</h3>

              <div class="order-lists">
                <div class="lists">
                  <div class="summary">
                    <strong>주문번호</strong>
                    <span>15072275998</span>
                    <strong>주문일</strong>
                    <span>2017.04.22</span>
                  </div>
                  <div class="head">
                    <span class="tit-1">상품정보</span>
                    <span class="tit-6">결제금액</span>
                    <span class="tit-7">취소금액</span>
                    <span class="tit-3">배송구분</span>
                    <span class="tit-4">진행상태</span>
                  </div>
                  <div class="list cancel">
                    <p class="thumb"><img src="/_ui/img/pc/temp/@96x118.png" alt=""></p>
                    <div class="product">
                      <h4>
                        customellow
                        <small>QEBBM17504NAY</small>
                      </h4>
                      <p>여성용 소형 백팩 BLOSSOM BAG</p>
                      <ul class="meta">
                        <li>
                          <em>수량</em>
                          <span>1</span>
                        </li>
                        <li>
                          <em>옵션</em>
                          <span>XXX</span>
                        </li>
                      </ul>
                    </div>
                    <p class="price">
                      <span>103,500원</span>
                    </p>
                    <p class="price">
                      <span>103,500원</span>
                    </p>
                    <p class="delivery"><span>일반 배송</span></p>
                    <p class="state">
                      <span>취소완료</span>
                      <span>(2017.02.22)</span>
                    </p>
                  </div>
                  <div class="reason-wrap">
                    <div class="reason">
                      <p class="title">
                        고객변심
                      </p>
                      <p>
                        전체적인 디자인은 마음에 드는데요~<br>
                        색상이 저한테 안어울릴꺼같아서 다른 상품을 주문하는게 나을 것 같네요~
                      </p>
                      <span class="date">2017.05.21</span>
                    </div>
                  </div>
                  <div class="list cancel">
                    <p class="thumb"><img src="/_ui/img/pc/temp/@96x118.png" alt=""></p>
                    <div class="product">
                      <h4>
                        customellow
                        <small>QEBBM17504NAY</small>
                      </h4>
                      <p>여성용 소형 백팩 BLOSSOM BAG</p>
                      <ul class="meta">
                        <li>
                          <em>수량</em>
                          <span>1</span>
                        </li>
                        <li>
                          <em>옵션</em>
                          <span>XXX</span>
                        </li>
                      </ul>
                    </div>
                    <p class="price">
                      <span>103,500원</span>
                    </p>
                    <p class="price">
                      <span>103,500원</span>
                    </p>
                    <p class="delivery"><span>일반 배송</span></p>
                    <p class="state">
                      <span>취소완료</span>
                      <span>(2017.02.22)</span>
                    </p>
                  </div>
                  <div class="reason-wrap">
                    <div class="reason">
                      <p class="title">
                        고객변심
                      </p>
                      <p>
                        전체적인 디자인은 마음에 드는데요~<br>
                        색상이 저한테 안어울릴꺼같아서 다른 상품을 주문하는게 나을 것 같네요~
                      </p>
                      <span class="date">2017.05.21</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="shipping">
                <h4>매장픽업 정보</h4>
                <dl>
                  <dt>픽업매장</dt>
                  <dd>코오롱스포츠 문정직영점 (02-1234-5678)</dd>
                  <dt>픽업예정일</dt>
                  <dd>2017.03.29</dd>
                  <dt>픽업시간</dt>
                  <dd>10:30 ~ 12:30</dd>
                  <dt>안내사항</dt>
                  <dd>구매일 이후 2일 이내에 방문하지 않을 경우, 주문이 자동 취소됩니다.</dd>
                </dl>
              </div>

              <div class="billing">
                <h4>결제정보</h4>
                <div class="table">
                  <div class="col">
                    <h5>총 상품금액</h5>
                    <ul>
                      <li>
                        <strong>상품합계</strong>
                        <span class="price">207,000원</span>
                      </li>
                      <li>
                        <strong>배송비</strong>
                        <span class="price">0원</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>할인내역</h5>
                    <ul>
                      <li>
                        <strong>쿠폰</strong>
                        <span class="price">- 29,250원</span>
                      </li>
                      <li>
                        <strong>프로모션</strong>
                        <span class="price">- 0원</span>
                      </li>
                      <li>
                        <strong>임직원할인</strong>
                        <span class="price">- 0원</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>결제수단</h5>
                    <ul>
                      <li>
                        <strong>직원전용 구매권</strong>
                        <span class="price">10,000원</span>
                      </li>
                      <li>
                        <strong>예치금</strong>
                        <span class="price">10,000원</span>
                      </li>
                      <li>
                        <strong>포인트</strong>
                        <span class="price">10,000원</span>
                      </li>
                      <li>
                        <strong>신용카드</strong>
                        <span class="price">삼성카드(2개월) 90,000원</span>
                      </li>
                    </ul>
                    <p class="receipt">
                      <button type="button" class="btn btn-line btn-small">영수증출력</button>
                    </p>
                  </div>
                </div>
                <div class="total">
                  총 결제금액 <em>207,000</em>원
                </div>
              </div>

              <div class="buttons end-row">
                <button type="button" class="btn btn-line btn-big">목록</button>
              </div>
            </article>


        </section>
    {{/inline}}

{{/desktop/layouts/default}}
