{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="고객센터 - A/S 안내"}}
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

            {{>desktop/partials/navigation-lnb-cscenter title="고객센터" submenu="AfterSales"}}

             <article class="after-sales contents">
                <h3>A/S 안내</h3>
                <ul class="tab list4" id="afterSalesTabs">
                    <li class="on"><a href="#" data-tab-type="warranty">품질보증 및 보상 기준</a></li>
                    <li><a href="#" data-tab-type="repairGuide">수선품 접수 안내</a></li>
                    <li><a href="#" data-tab-type="repairCoverage">수선 가능 범위 및 가격</a></li>
                    <li><a href="#" data-tab-type="repairProgress">수선품 진행 조회</a></li>
                </ul>

                <div class="as-info" id="warrantyContent">
                  <h4>품질보증기간</h4>
                  <p>코오롱 인더스트리㈜ Fnc부문 제품의 품질보증기간은 구입일로부터 1년 입니다.</p>

                  <h4>품질보증기간이란?</h4>
                  <p>
                    제조사 과실(봉제, 원단, 부자재)로 발생된 불량일 경우 고객께서 제조회사에 보상(무료수선, 교환, 환불)을 청구할 수 있는 기간을 의미합니다.<br>
                    간혹 보상과정에서 가격산정에 다소 의견차이가 발생될 수 있으니, 제품 구입시의 영수증을 제출하여 주시기 바랍니다.
                  </p>
                  <ul>
                    <li>품질보증기간 경과 후에는 공정거래위원회에서 고시한 피해보상기준에 준하여 감가하여 보상하여 드립니다.</li>
                    <li>상세기준은 한국소비자보호원 홈페이지 <a href="http://www.cpb.or.kr" target="_blank" title="한국소비자보호원 홈페이지 (새 창 열림)">www.cpb.or.kr</a> 참조하세요.</li>
                    <li>명확한 제품불량(봉제불량, 원단불량, 부자재불량, 사이즈불량)은 구입매장에서 조치해 드립니다.</li>
                    <li>단, 불량판정과정에서 의견차이가 발생될 수 있습니다.</li>
                    <li>이 경우에는 고객상담팀으로 원인규명을 요구하시면 고객상담팀 판정소견서 또는 한국소비자연맹의 심의결과를 알려 드립니다.</li>
                  </ul>

                  <h4>한국소비자연맹의 심의제도란?</h4>
                  <p>
                    소비자 권익을 옹호하는 민간소비자단체인 한국소비자연맹에서 매주 화요일에 분쟁의류 제품에 대하여 상의를 하여<br>
                    결과를 의뢰자(고객 또는 제조회사)에게 알려드리고 있습니다. 저희 소비자상담팀에서는 고객의 요구시 한국소비자연맹에 심의 의뢰를<br>
                    무료로 대행하고 있습니다.
                  </p>
                </div>

                 <div class="as-info" id="repairGuideContent" style="display: none;">
                     <h4>접수안내</h4>
                     <ul>
                         <li>수선품 접수는 구입매장 또는 인근지역내 브랜드 매장을 방문하시어 의뢰하여 주십시오.</li>
                         <li>인근지역내 매장이 없을 경우 우편 또는 고객상당핌으로 우편 또는 택배로 보내주시기 바랍니다.</li>
                         <li>수선작업에 소요되는 기간은 평균적으로 매장접수일로 부터 1주일 이내 이며 수선 작업이 어려운 경우 2주정도 작업기간이 소요됩니다.<br>
                             단, 염색, 가공, 수입자재, 복합수선 등 수선 항목에 따라 기간이 지체될 수 있습니다.</li>
                         <li>내구성이 다하였거나 오래된 제품일 경우 수선이 불가 할 수도 있습니다. </li>
                     </ul>

                     <h4>수선품 처리과정</h4>
                     <p>저희 (주)코오롱 Fnc부문에서는 맡겨주신 수선품은 정성껏 손질하여 드립니다.</p>
                     <ol class="repair-step">
                         <li class="step-1">매장</li>
                         <li class="step-2">소비자상담실</li>
                         <li class="step-3">수선작업실</li>
                         <li class="step-4">소비자상담실</li>
                         <li class="step-5">매장</li>
                     </ol>

                     <h4>수선품 접수주소</h4>
                     <ul>
                         <li>고객상담실 : 경기도 수원시 영통구 신원로 250번길 15(원천동) 코오롱 세이브 3층 고객상담팀 ○○○브랜드 담당자 앞</li>
                         <li>코오롱 스포츠 신발, 헤드 신발 : 부산광역시 해운대구 양운로 52(좌동) 코오롱 세이브 4층/ T.1588-7667</li>
                         <li>엘로드클럽 : 경기도 수원시 영통구 덕영대로 1499번길 31(망포동) 2층 코오롱 엘로드 클럽/ T.032-212-3061</li>
                         <li><em>콜센터 : 1588-7667</em></li>
                         <li><em>콜센터 운영시간 안내 : 월요일 ~ 금요일, 오전 9시 ~ 오후 6시 / 토요일, 일요일, 공휴일 휴무</em></li>
                         <li>고객명, 주소, 연락처, 수선요구사항 기재하여 동봉해 주시기 바랍니다.</li>
                         <li>직접 택배로 보내실 경우 보내는 택배비용을 고객님께서 선불로 보내주시면 수선 처리 후 발송시 당사에서 택배비용 부담하여 발송합니다.</li>
                     </ul>
                 </div>

                 <div class="as-info" id="repairCoverageContent" style="display: none;">
                     <h4>수선 진행 현황</h4>
                     <ul>
                         <li>
                             동일한 원단 , 부자재를 활용하여 최대한 원상 복구 수선 진행을 원칙으로 합니다.<br>
                             (단 , 소량 생산제품 , 오래된 제품은 동일원단 부자재를 보유하지 않고 있음으로 유사원단 이나 부자재로 수선 진행되며 수선이 불가 할수 있습니다.)
                         </li>
                         <li>코팅 , 웰딩 , 프린트 등 내구성 다된 제품은 수선이 불가 합니다.</li>
                         <li>수선 유형(창갈이, 부자재 주문, 판갈이, 짜집기 등)에 따라 수선 비용이 발생 할수 있습니다.</li>
                         <li>파손이 심한 제품은 수선이 불가 합니다.</li>
                     </ul>

                     <h4>수선비용</h4>
                     <ul>
                         <li>e-KOLON 회원일 경우, 당해년도 신상품 기준 3년 이내 제품은 2만원(캠핑용품은 3만원) 까지 무상으로 수선이 진행됩니다.</li>
                         <li>비회원일 경우, 당해년도 신상품 기준 1년 이내 제품은 2만원(캠핑용품은 3만원)까지 무상, 1년 경과된 제품은 전액 유상으로 수선이 진행됩니다.</li>
                     </ul>
                     <div class="notice">
                         <h5>예외사항</h5>
                         <ul>
                             <li>e-KOLON VIP 고객(블랙, 퍼플)께는 전액 무상 수선 혜택을 드립니다.</li>
                             <li>쿠론, 슈콤마보니 신발, 코오롱스포츠 신발, 헤드 신발 등 가죽, 신발류는 생산년도 상관 없이 유상 수선비용이 발생될 수 있습니다.</li>
                         </ul>
                     </div>
                 </div>

                 <div class="as-info" id="repairProgressContent" style="display: none;">
                     <h4>수선품 조회</h4>
                     <ul>
                         <li>수선 의뢰하신 제품의 진행현황을 조회하실 수 있습니다.</li>
                         <li>의뢰하신 분의 이름과 전화번호를 입력하시고 조회하기 버튼을 클릭하세요.</li>
                     </ul>

                     <div class="search-repair">
                         <label for="">이름</label>
                         <input type="text" class="name">
                         <div class="inline-form">
                             <label for="">휴대폰</label>
                             <select>
                                 <option value="">010</option>
                             </select>
                             <span class="split">-</span>
                             <input type="text">
                             <span class="split">-</span>
                             <input type="text">
                         </div>
                         <button type="button" class="btn">조회</button>
                     </div>

                     <div class="repair-list">
                         <a href="#" class="list">
                             <span class="state">수선 중</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                         <a href="#" class="list">
                             <span class="state">수선 중</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                         <a href="#" class="list">
                             <span class="state">수선 중</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                         <a href="#" class="list complete">
                             <span class="state">수선 완료</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                         <a href="#" class="list complete">
                             <span class="state">수선 완료</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                         <a href="#" class="list complete">
                             <span class="state">수선 완료</span>
                             <ul>
                                 <li>
                                     <strong>접수일</strong>
                                     <span>2017.08.27</span>
                                 </li>
                                 <li>
                                     <strong>상품명</strong>
                                     <span>Bomber Jumper Bomber Jumper</span>
                                 </li>
                                 <li>
                                     <strong>수선내용</strong>
                                     <span>지퍼</span>
                                 </li>
                             </ul>
                             <i></i>
                         </a>
                     </div>

                     <!-- 수선 의뢰 내역이 없을때 -->
                     <div class="repair-list no-result">
                         검색 결과가 존재하지 않습니다.
                     </div>
                     <!-- //수선 의뢰 내역이 없을때 -->

                     <div class="paging">
                         <a href="#" class="prev">이전 페이지</a>
                         <strong class="on">1</strong>
                         <a href="#">2</a>
                         <a href="#">3</a>
                         <a href="#">4</a>
                         <a href="#">5</a>
                         <a href="#">6</a>
                         <a href="#">7</a>
                         <a href="#">8</a>
                         <a href="#">9</a>
                         <a href="#">10</a>
                         <a href="#" class="next">다음 페이지</a>
                     </div>
                 </div>
            </article>
        </section>
    {{/inline}}

{{/desktop/layouts/default}}
