@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font:inherit; vertical-align:baseline;font-family:'Noto Sans', sans-serif; font-weight:normal;}
address,em {font-style:normal; font-weight:normal;}
strong{font-weight:bold}
input,button,select {font-family:inherit; margin:0; padding:0; vertical-align:middle; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{display:block;}
ol,ul,li {list-style:none;}
button{margin:0; padding:0; border:0; background-color:transparent; -webkit-appearance:button; cursor:pointer;}
a{text-decoration:none;}
button:focus,
input:focus,
a:focus {outline:thin dotted; outline:none; outline-offset:-2px;}
html{overflow-y:scroll !important;}

/* common */
body{position:relative;max-width:1920px;margin:0 auto;background:#010918;line-height: 1;color:#000;}
.hidden {display: none;}

/* header */
.header{width:1200px;margin:0 auto;}
.header h1{float:left;margin-top:20px;}
.header .header_right{float:right;}
.header .header_right .btn{float:left;display:block;width:129px;height:28px;margin-top:48px;font-size:12px;color:#65a3ff;border:1px solid #0089eb;line-height:26px;text-align:center;box-sizing:border-box;}
.header .header_right a:visited{color:#65a3ff;}
.header .header_right .btn.language{overflow:hidden;position:relative;margin-left:18px;background:#01060f;text-align:left;}
.header .header_right .btn.language:after{content:'';position:absolute;width:6px;height:5px;top:10px;right:15px;background:url('../images/icn_arrow02.png') no-repeat center;background-position:0 0;}
.header .header_right .btn.language.on{height:190px;}
.header .header_right .btn.language.on:after{background-position:-6px 0;}
.header .header_right .btn.language li a{display:block;height:26px;margin:0 15px;color:#ccc;background:#000206;border-bottom:1px solid #00375e;}
.header .header_right .btn.language li.selected{padding:0 15px;background:#01060f;color:#65a3ff;border-bottom:1px solid #0089eb;}

/* contents */
.content_01 {width:100%;height:1081px;}
.content_01.ko{background:url('../images/content_01_ko.jpg') no-repeat center;}
.content_01.cn{background:url('../images/content_01_cn.jpg') no-repeat center;}
.content_01.vn{background:url('../images/content_01_vn.jpg') no-repeat center;}
.content_01.pt{background:url('../images/content_01_pt.jpg') no-repeat center;}
.content_01.es{background:url('../images/content_01_es.jpg') no-repeat center;}
.content_01.us{background:url('../images/content_01_us.jpg') no-repeat center;}
.content_02 {width:100%;height:495px;}
.content_02.ko{background:url('../images/content_02_ko.jpg') no-repeat center;}
.content_02.cn{background:url('../images/content_02_cn.jpg') no-repeat center;}
.content_02.vn{background:url('../images/content_02_vn.jpg') no-repeat center;}
.content_02.pt{background:url('../images/content_02_pt.jpg') no-repeat center;}
.content_02.es{background:url('../images/content_02_es.jpg') no-repeat center;}
.content_02.us{background:url('../images/content_02_us.jpg') no-repeat center;}
.content_03 {width:100%;text-align:center;}
.content_03 h2{margin-top:53px;}

.content_03 .select_flag {overflow:hidden;width:1010px;margin:0 auto;}
.content_03 .select_flag ul li{float:left;margin-top:15px;margin-left:40px;}
.content_03 .select_flag ul li.first_list{margin-left:0;}
.content_03 .select_flag ul li a{display:block;width:170px;height:246px;padding-top:40px;font-size:22px;color:#999;}
.content_03 .select_flag .team01{background:url('../images/flags/flag_01_off.png') no-repeat center;}
.content_03 .select_flag .team02{background:url('../images/flags/flag_02_off.png') no-repeat center;}
.content_03 .select_flag .team03{background:url('../images/flags/flag_03_off.png') no-repeat center;}
.content_03 .select_flag .team04{background:url('../images/flags/flag_04_off.png') no-repeat center;}
.content_03 .select_flag .team05{background:url('../images/flags/flag_05_off.png') no-repeat center;}
.content_03 .select_flag .team06{background:url('../images/flags/flag_06_off.png') no-repeat center;}
.content_03 .select_flag .team07{background:url('../images/flags/flag_07_off.png') no-repeat center;}
.content_03 .select_flag .team08{background:url('../images/flags/flag_08_off.png') no-repeat center;}
.content_03 .select_flag .team09{background:url('../images/flags/flag_09_off.png') no-repeat center;}
.content_03 .select_flag .team10{background:url('../images/flags/flag_10_off.png') no-repeat center;}
.content_03 .select_flag .team01:hover{background:url('../images/flags/flag_01_on.png') no-repeat center;}
.content_03 .select_flag .team02:hover{background:url('../images/flags/flag_02_on.png') no-repeat center;}
.content_03 .select_flag .team03:hover{background:url('../images/flags/flag_03_on.png') no-repeat center;}
.content_03 .select_flag .team04:hover{background:url('../images/flags/flag_04_on.png') no-repeat center;}
.content_03 .select_flag .team05:hover{background:url('../images/flags/flag_05_on.png') no-repeat center;}
.content_03 .select_flag .team06:hover{background:url('../images/flags/flag_06_on.png') no-repeat center;}
.content_03 .select_flag .team07:hover{background:url('../images/flags/flag_07_on.png') no-repeat center;}
.content_03 .select_flag .team08:hover{background:url('../images/flags/flag_08_on.png') no-repeat center;}
.content_03 .select_flag .team09:hover{background:url('../images/flags/flag_09_on.png') no-repeat center;}
.content_03 .select_flag .team10:hover{background:url('../images/flags/flag_10_on.png') no-repeat center;}
.content_03 .select_flag li:hover a{color:#211800;}
.content_03 .select_flag .team01.on{background:url('../images/flags/flag_01_on.png') no-repeat center;}
.content_03 .select_flag .team02.on{background:url('../images/flags/flag_02_on.png') no-repeat center;}
.content_03 .select_flag .team03.on{background:url('../images/flags/flag_03_on.png') no-repeat center;}
.content_03 .select_flag .team04.on{background:url('../images/flags/flag_04_on.png') no-repeat center;}
.content_03 .select_flag .team05.on{background:url('../images/flags/flag_05_on.png') no-repeat center;}
.content_03 .select_flag .team06.on{background:url('../images/flags/flag_06_on.png') no-repeat center;}
.content_03 .select_flag .team07.on{background:url('../images/flags/flag_07_on.png') no-repeat center;}
.content_03 .select_flag .team08.on{background:url('../images/flags/flag_08_on.png') no-repeat center;}
.content_03 .select_flag .team09.on{background:url('../images/flags/flag_09_on.png') no-repeat center;}
.content_03 .select_flag .team10.on{background:url('../images/flags/flag_10_on.png') no-repeat center;}
.content_03 .select_flag .on a{color:#211800;}

.content_03 .detail_team{margin:10px 0;}
.content_03 .detail_team p{padding-top:25px;font-size:18px;color:#666;}
.content_03 .btn_vote{display:block;width:411px;height:74px;margin:80px auto;font-size:24px;color:#0e0d1d;background:url('../images/btn_vote.png') no-repeat center;line-height:74px;text-align:center}
.content_03 .notice {position:relative;width:980px;margin:0 auto 45px;;text-align:left;}
.content_03 .notice dt, .content_03 .notice dd{font-size:20px;color:#666}
.content_03 .notice dt{position:absolute;top:0;left:0;font-weight:bold;text-transform:uppercase;}
.content_03 .notice dd{padding-bottom:15px;padding-left:120px;letter-spacing:-1px;}
.content_03 .notice dd a{color:#666;text-transform:uppercase;}
.content_03 .notice dd a.type2{text-transform: lowercase;color:#d4c4c4;}
.content_03 .notice.cn{width:720px;}
.content_03 .notice.us{width:840px;}


/* footer */
.footer{background:#000;}
.footer .wrap_footer{position:relative;width:980px;height:80px;margin:0 auto;}
.footer .footer_logo{display:inline-block;width:259px;height:32px;margin:24px 0;background:url('../images/footer_logo.png') no-repeat center;}
.footer .copyright{position:absolute;top:34px;right:0;font-size:16px;color:#7d7d7d;}


/* popup */
.popup{position:absolute;;height:100%;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.9);}
.popup .box_vote{width:740px;padding:30px;margin:456px auto;background:#fff;box-sizing:border-box;}
.popup .box_vote .top{overflow: hidden;}
.popup .box_vote .top h3{float:left;font-size:32px;font-weight:700;color:#2c98fd;}
.popup .box_vote .top .close{float:right;display:block;width:30px;height:30px;background:url('../images/icn_close.png') no-repeat;text-indent:-9999px;}
.popup .box_select select{width:100%;margin-top:30px;padding:12px 30px;font-size:22px;color:#666;outline:none;background:url('../images/icn_arrow01.png') no-repeat 95% center;border:1px solid #ccc;
appearance:none;
-ms-appearance:none;
-moz-appearance:none;
-webkit-appearance:none;}

.popup{display:none;}
.popup .box_vote_list{width:100%;margin-top:10px;padding:30px 20px;border:1px solid #ccc;box-sizing:border-box;}
.popup .box_vote_list .list{overflow: hidden;margin-bottom:20px;}
.popup .box_vote_list .list h4{padding:0 0 8px 10px;font-size:20px;font-weight:700;color:#000;border-bottom:2px solid #ccc;}
.popup .box_vote_list .list div{float:left;}
.popup .box_vote_list .list .team_logo{min-width:80px;margin-top:40px;margin-right:17px;}
.popup .box_vote_list .checks {margin-right:18px;}
.popup .box_vote_list .checks input[type="radio"]{display:none;}
.popup .box_vote_list .checks input[type="radio"] + label {display:block;width:18px;height:18px;margin:10px auto 0;background:url('../images/icn-select.png') no-repeat;background-position:0 0;}
.popup .box_vote_list .checks input[type="radio"]:checked + label {background-position: -18px 0;}
.popup .box_vote_list .checks .label_img img{height:120px;margin-top:22px;}
.popup .btn_pop_vote {display:block;width:300px;height:72px;margin:20px auto 0;background:url('../images/btn_pop_vote.png') no-repeat;font-size:24px;color:#0e0d1d;line-height:72px;text-align:center;}
.popup .pop_noti{padding:10px 0;font-size:14px;color:#826724;text-align: center;}
.popup .pop_noti.f12{font-size:12px}
/**/
