<article class="cs-notice">
    <div class="call">
        <a href="tel:1588-7667">
            <span>고객센터 1588-7667</span>
            <span>평일 09:30 ~ 18:00</span>
        </a>
    </div>
    <div class="s-menu">
        <ul>
            <li><a href="/Compensation/Delay">온라인 고객보상제</a></li>
            <li><a href="/Proposal/Add">제휴문의</a></li>
            <li><a href="/eKOLON/Point">eKOLON 멤버십혜택</a></li>
        </ul>
    </div>
</article>