<header class="kolon-header">
    <div class="h-wrap">
        <h2 class="hidden">KOLONmall 메인메뉴</h2>
        <ul class="top-navi">
            <li>
                <h1 class="sub"><a href="/FAQ">{{title}}</a></h1>
            </li>
            <li>
                <a href="#" class="close">닫기</a>
            </li>
        </ul>
    </div>
</header>
