<header class="kolon-header">
    <div class="h-wrap">
        <h2 class="hidden">KOLONmall 메인메뉴</h2>
        <ul class="top-navi">
            <li>
                <a href="/Main/Menu" class="menu">좌측메뉴 열기</a>
            </li>
            <li>
                <h1 class="sub"><a>{{title}}</a></h1>
            </li>
            <li>
                <a href="/Cart" class="cart">장바구니</a>
            </li>
            <li>
                <a href="/Search" class="search">검색</a>
            </li>
        </ul>
    </div>
</header>