<header class="kolon-header header-bg">
    <div class="h-wrap">
        <h2 class="hidden">KOLONmall 메인메뉴</h2>
        <ul class="top-navi">
            <li>
                <a href="javascript: history.back();" class="back">뒤로가기</a>
            </li>
            <li>
                <h1 class="sub"><a href="#">{{title}}</a></h1>
            </li>
        </ul>
    </div>
</header>
