{{#> desktop/layouts/default }}
    {{#*inline "header"}}
        {{>desktop/partials/navigation-gnb title="이벤트 목록"}}
    {{/inline}}

    {{#*inline "extrajavascript"}}
        <script type="text/javascript">
            {{precompile "desktop/precompiles/event/event-list-item"}}
        </script>
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">
            {{>desktop/partials/navigation-lnb-event title="이벤트" submenu="Event"}}

            <article class="event-cont contents">

                <h3>이벤트</h3>
                 <!-- category-menu -->
                <div class="category-menu">
                    <div class="select-wrap">
                        <a href="#" data-target=".list-option" data-trigger="toggle">최근 등록순</a>
                        <div class="list-option">
                            <ul>
                                <li><a href="#" class="active">최근 등록순</a></li>
                                <li><a href="#">마감 임박순</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- // category-menu -->

                <!-- event-wrap -->
                <article class="event-wrap">
                    <div id="eventList" class="event-list with-lnb">
                        {{#eventList.results}}
                            {{>desktop/precompiles/event/event-list-item}}
                        {{/eventList.results}}
                    </div>

                    {{{render_hide_loader "eventListLoading"}}}
                    {{#gt eventList.page.totalCount eventList.page.perPage}}
                        <a id="eventListMoreBtn" class="list-more">더보기</a>
                    {{/gt}}
                </article>
                <!-- // thumb-wrap -->

            </article>


        </section>

    {{/inline}}

{{/desktop/layouts/default}}
