<h2 class="hidden">KOLONmall 정책 밑 사이트 정보 영역</h2>
<footer>
    <div class="footer">
		<div class="f-cnt cnt-left">
			<h3 class="f-logo">KOLONmall</h3>
			<ul class="kl-industry">
				<li>코오롱인더스트리 FnC부문</li>
				<li>&#47; 대표이사 : 박동문</li>
				<li>&#47; 대표메일주소 : kolonmall@kolon.com​</li>
				<li>개인정보관리책임자 : 경영전략본부 오원선 전무</li>
				<li>&#47; 개인정보관리담당자 : 정보보안TF 김정혁과장</li>
				<li>서울시 서초구 서초대로 411 GT타워</li>
				<li>&#47; TEL : 1588-7667</li>
				<li>&#47; FAX : 02-3677-7546</li>
				<li>통신판매업신고 : 제2012-서울서초-0593호</li>
				<li>&#47; 사업자등록번호 : 138-85-19612  사업자정보 확인></li>
			</ul>
			<i class="logo-uplus"></i>
			<p class="noti">고객님은 안전거래를 위해 결제 시 저희 사이트에서 가입한 LG U+의 구매안전 서비스를 이용하실 수 있습니다. <a href="https://pgweb.uplus.co.kr/ms/escrow/sescrowYn.do?mertid=joykolon" target="_blank">가입확인</a></p>
			<p class="copyright">Copyright ⓒ KOLONmall all rights reserved</p>
		</div>
		<div class="f-cnt cnt-right">
			<div class="e-kolon">
				<h4>E-KOLON</h4>
				<ul>
					<li><a href="/AfterSales/Warranty">A/S 안내</a></li>
					<li><a href="/eKOLON/Point">eKOLON 멤버십</a></li>
					<li><a href="/Compensation/Delay">온라인 고객 보상제</a></li>
					<li><a href="/TermsAndConditions/Online">이용 약관</a></li>
					<li><a href="/TermsAndConditions/Privacy">개인정보처리방침</a></li>
				</ul>
			</div>
			<div class="cstm">
				<h4>고객센터</h4>
				<ul>
					<li><a href="/FAQ">고객센터 홈</a></li>
					<li><a href="/FAQ">FAQ</a></li>
					<li><a href="/Contact">1:1 상담</a></li>
					<li><a href="/Notice">공지사항</a></li>
					<li><a href="/GuestOrder">비회원주문조회</a></li>
					<li><a href="javascript: alert('준비중입니다.');" class="cmnty sms">모바일 주소 문자 전송</a></li>
				</ul>
			</div>
			<div class="callcenter">
				<h4>콜센터</h4>
				<ul>
					<li class="call-no">1588-7667</li>
					<li>콜센터 운영안내</li>
					<li>AM 09:30 ~ PM 06:00</li>
					<li>(토, 일, 공휴일 휴무)</li>
					<li><a href="javascript: alert('준비중 입니다.');" class="cmnty facebook">KOLONmall 페이스북</a></li>
				</ul>
			</div>
		</div>
		<button type="button" class="btn-top">Top</button>
    </div>
</footer>