<div class="sub-menu-prod">
    <a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>
    <a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>
    <a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>
    <a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>
</div>