<div class="swiper-wrapper">
    {{#results}}
        <div class="swiper-slide">
            {{>mobile/components/banner/contents/square this}}
        </div>
    {{/results}}
</div>
<div class="scr-prod-pagination"></div>
