@charset "utf-8";
@font-face {
    font-family: 'appleGothic-exBold';
    src: url('../font/AppleSDGothicNeo-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../font/AppleSDGothicNeo-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'appleGothic-medium';
    src: url('../font/AppleSDGothicNeo-Medium.eot?#iefix') format('embedded-opentype'), url('../font/AppleSDGothicNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'appleGothic-smBold';
    src: url('../font/AppleSDGothicNeo-Medium.eot?#iefix') format('embedded-opentype'), url('../font/AppleSDGothicNeo-SemiBold.ttf') format('truetype');
}
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font:inherit; vertical-align:baseline; font-weight:normal;}
address,em {font-style:normal; font-weight:normal;}
strong{font-weight:bold}
input,button,select {font-family:inherit; margin:0; padding:0; vertical-align:middle; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{display:block;}
ol,ul,li {list-style:none;}
button{margin:0; padding:0; border:0; background-color:transparent; -webkit-appearance:button; cursor:pointer;}
a{text-decoration:none; color:#666;cursor:pointer;}
button:focus,
input:focus,
a:focus {outline:thin dotted; outline:none; outline-offset:-2px;}
html{overflow-y:scroll !important;}

.wrap {width:auto;max-width:720px;min-width:320px;margin:0 auto;font-family: 'appleGothic-medium', sans-serif;}

.header {width:100%;height:131.944vw;max-height:950px;background:url('../images/m_bg_header.jpg') no-repeat center;background-size:contain;}
article h2 {font-family:'appleGothic-exBold';font-size:8.333vw;color:#00347b;text-align:center;}
article h2:after {content:'';display:block;width:8.611vw;height:.833vw;margin:0 auto;background:#00347b;}

article.event-step{padding: 7.5vw 0 6.25vw;background:#f7f7f7;}
article.event-step .box-image{padding-top:5.55vw;text-align:center;}
article.event-step .box-image img{width:49.166vw;}

article.event-apply {padding:11.944vw 4.722vw 8.611vw;background:#172474;}
article.event-apply h2{color:#fff;}
article.event-apply h2:after{background-color:#fff;}
article.event-apply p.txt{margin:3.888vw 0;font-size:3.055vw;color:#ccc;text-align:center;}
article.event-apply .form-group{margin:0 0 1.805vw;}
article.event-apply .form-group .col-sm-3{display:inline-block;width:19.16vw;padding:0;font-size:3.055vw;font-weight:500;color:#fff;vertical-align:super;letter-spacing:-.4px;}
article.event-apply .form-group .col-sm-3:before{content:'';display:inline-block;width:2.5vw;height:2.5vw;margin-right:.69vw;background:url('../images/m_icn_arrow.png') no-repeat;background-size:contain;}
article.event-apply .form-group .col-sm-4{display:inline-block;width:77%;min-height:12.5vw;padding:0;vertical-align:middle;}
article.event-apply .form-group .col-sm-4.hv-info{min-height:15.22vw;}
article.event-apply .form-group .col-sm-4 input{width:69vw;height:8.055vw;padding:2.77vw 2vw 2.08vw;font-size:2.4vw;box-sizing:border-box;border:2px solid #fff;border-radius:10px;letter-spacing:-1px;}
article.event-apply .form-group .col-sm-4 ::-webkit-input-placeholder {color:#ccc;}
article.event-apply .form-group .col-sm-4 ::-moz-placeholder {color:#ccc;}
article.event-apply .form-group .col-sm-4 :-ms-input-placeholder {color:#ccc;}
article.event-apply .form-group .col-sm-4 :-moz-placeholder {color:#ccc;}
article.event-apply .form-group .col-sm-4 .form-info{max-width:68vw;margin:0;padding-top:.69vw;padding-left:2.36vw;font-size:1.83vw;color:#ccc;text-align:left;}
article.event-apply .form-group .col-sm-4 .captcha_img{display:inline-block;width:32.9vw;height:8.055vw !important;vertical-align:middle;}
article.event-apply .form-group .col-sm-4 input.captcha{display:inline-block;width:35.4vw;}
article.event-apply .form-group .col-sm-4 #captchaRefresh{display:none;}
article.event-apply .form-group .help-block{margin:0;}
article.event-apply .form-group .help-block p{display:none;margin:0;padding:1.388vw 0 0 2.777vw;font-size:2.1vw;color:#ff0000;text-align:left;letter-spacing:-.9px;}
article.event-apply .form-group .captcha_img + a + .help-block {left:54%;top:38%;}

article.event-apply .form-group.has-error .col-sm-4 input{border:2px solid #d10717;}
article.event-apply .form-group.has-error .help-block p.required-msg{display:block;}

article.personal-info {padding:8.611vw 4.722vw 9.722vw;background:#f8f8f8;}
article.personal-info ul {margin-left:1.11vw;}
article.personal-info ul li{margin-top:1.388vw;font-size:2.5vw;color:#999;line-height:3.611vw;}
article.personal-info ul li:first-child{margin-top:0;}
article.personal-info ul li .tit{color:#666;}
article.personal-info ul li .txt{margin-lefT:2.5vw;}
article.personal-info ul li.hyphen:before{content:'-';display:inline-block;margin-left:-1.11vw;}
article.personal-info .agree-use-info {min-height:14.2vw;height:14.2vw;padding:1.805vw 0 1.388vw;text-align: center;box-sizing:border-box;}
article.personal-info .agree-use-info .check-area{display:inline-block;width:3.888vw;height:3.75vw;margin:0;background:url('../images/m_icn_check.png') no-repeat;background-size:contain;vertical-align:sub;}
article.personal-info .agree-use-info .check-txt{font-size:3.472vw;color:#666;}
article.personal-info .agree-use-info input[type="checkbox"]{display:none;}
article.personal-info .agree-use-info input[type="checkbox"]:checked + label{background:url('../images/m_icn_checked.png') no-repeat;background-size:contain;}
article.personal-info .agree-use-info .help-block{margin:0;height:4.44vw;}
article.personal-info .agree-use-info .help-block p{width:52%;margin:0 auto;font-size:2.44vw;color:#ff0000;text-align:left;}
article.personal-info .agree-use-info.error .help-block p{display:block;}

article.personal-info .tit-primary{padding:10vw 0 6.11vw;font-size:3.472vw;color:#666;text-align:center;}
article.personal-info .box-btn-primary{padding-bottom:8.75vw;border-bottom:1px solid #dfdfdf;}
article.personal-info .box-btn-primary .col-sm-3{display:none;}
article.personal-info .box-btn-primary .col-sm-4{width:100%;}
article.personal-info .btn-primary{display:block;width:65.27vw;height:15.277vw;margin:0 auto;background:url('../images/btn-agree.png') no-repeat;background-size:contain;text-indent:-9999px;border:none;}

article.box-close-event{display:none;padding:9.77vw 0;}
article.box-close-event h3{font-size:5.55vw;color:#00347b;text-align:center;}
article.box-close-event .greeting {margin-top:.69vw;font-size:3.055vw;color:#666;text-align:center;}
article.box-close-event .close-event {width:80.27vw;height:27.22vw;margin:3.47vw auto 0;padding:4.16vw 0;background:#e9e9e9;border-radius:20px;text-align:center;box-sizing:border-box;letter-spacing:-.3px;}
article.box-close-event .close-event .info-date{font-size:3.61vw;color:#00347b;text-decoration:underline;}
article.box-close-event .close-event .txt{margin:1.38vw 0 .69vw;font-size:3.055vw;color:#666;}
article.box-close-event .close-event .link-facebook{font-size:3.055vw;font-weight:700;color:#333;}

article.box-complete-apply{display:none;padding:9.77vw 0;}
article.box-complete-apply h3{font-size:5.55vw;color:#00347b;text-align:center;}
article.box-complete-apply .greeting {margin-top:.69vw;font-size:3.055vw;color:#666;text-align:center;}
article.box-complete-apply .complete-apply {width:80.27vw;height:27.22vw;margin:3.47vw auto 0;padding:4.16vw 0;background:#e9e9e9;border-radius:20px;text-align:center;box-sizing:border-box;letter-spacing:-.3px;}
article.box-complete-apply .complete-apply .info-date{font-size:3.61vw;color:#00347b;text-decoration:underline;}
article.box-complete-apply .complete-apply .txt{margin:1.38vw 0 .69vw;font-size:3.055vw;color:#666;}
article.box-complete-apply .complete-apply .link-facebook{font-size:3.055vw;font-weight:700;color:#333;}
article.box-complete-apply .btn-complete{display:block;width:29.166vw;height:10.277vw;margin:3.472vw auto 0;background:#f7b600;font-size:5.416vw;color:#fff;text-align:center;line-height:11.277vw;border-radius:3px;}


article.information{padding:11.388vw 8.333vw 8.333vw;}
article.information .info-detail {margin-top:6.944vw;}
article.information .info-detail ul li{margin-bottom:1.11vw;font-size:2.5vw;color:#999;letter-spacing:-1px;}
article.information .info-detail ul li:before{content:'·';display:inline-block;margin-left:-1.38vw;padding-right:.69vw;}
article.information .info-detail ul li a{color:#333;}
article.information .info-detail .btn-more{display:block;width:29.44vw;height:5.41vw;margin:2.77vw auto 0;background:url('../images/m_btn_more.png') no-repeat;background-size:contain;}

footer.footer{height:10.138vw;background:#191f5f;
    background:linear-gradient(to right, #191f5f, #132b8e);
    background:-webkit-linear-gradient(to right, #191f5f, #132b8e);
    background:-o-linear-gradient(to right, #191f5f, #132b8e);
    background:-moz-linear-gradient(to right, #191f5f, #132b8e);}
footer.footer .copyright{margin-bottom:0;padding-top:5.13vw;font-size:2.222vw;color:#fff;text-align:center}

.terms {max-width:720px;width:100%;margin:0 auto;padding:10.41vw 5.55vw;box-sizing:border-box;font-family:'appleGothic-medium', sans-serif;word-break:keep-all;}
.terms .top h2{font-size:3.7vw;font-weight:bold;color:#6c6c6c;}
.terms .top p{margin-top:2.08vw;font-size:3.05vw;color:#6c6c6c;line-height:4.44vw;}
.terms .content{padding-top:3.472vw;font-size:3.05vw;color:#6c6c6c}
.terms .content ol > li {margin-top:3.472vw;}
.terms .content ul{margin-top:1.38vw;}
.terms .content ul li{margin-left:2.083vw;line-height:4.44vw;}
.terms .content .space {display:inline-block;width:3.055vw;}
.terms .content .inner{margin:1.388vw 2.22vw;font-size:2.777vw;}

@media (min-width:720px) {
    article h2 {font-size:60px;}
    article h2:after {width:62px;height:6px;}
    article.event-step {padding: 54px 0 45px;}
    article.event-step .box-image {padding-top:40px;}
    article.event-step .box-image img{width:354px;}

    article.event-apply{padding:86px 34px 62px;}
    article.event-apply p.txt{margin:28px 0;font-size:22px;}
    article.event-apply .form-group{margin-bottom:13px;}
    article.event-apply .form-group .col-sm-3{width:138px;font-size:22px;}
    article.event-apply .form-group .col-sm-3:before{width:18px;height:18px;margin-right:5px;}
    article.event-apply .form-group .col-sm-4{min-height:90px;}
    article.event-apply .form-group .col-sm-4.hv-info{min-height:110px;}
    article.event-apply .form-group .col-sm-4 input{width:496px;height:58px;padding:20px 22px 15px;font-size:17.6px;letter-spacing:-1.3px;}
    article.event-apply .form-group .col-sm-4 .form-info{max-width:496px;padding-top:5px;padding-left:17px;font-size:13.2px;}
    article.event-apply .form-group .col-sm-4 .captcha_img{width:237px;height:58px !important;}
    article.event-apply .form-group .col-sm-4 input.captcha{width:255px;}
    article.event-apply .form-group .help-block p{padding: 10px 0 0 20px;font-size:15px;}

    article.personal-info{padding:62px 34px 70px;}
    article.personal-info ul {margin-left:8px;}
    article.personal-info ul li{margin-top:10px;font-size:18px;line-height:26px;}
    article.personal-info ul li .txt{margin-left:18px;}
    article.personal-info ul li.hyphen:before{margin-left:-8px;}
    article.personal-info .agree-use-info{min-height:95px;height:95px;padding:13px 0 10px;}
    article.personal-info .agree-use-info .check-area{width:28px;height:27px;}
    article.personal-info .agree-use-info .check-txt{font-size:25px;}
    article.personal-info .agree-use-info .help-block{height:32px;}
    article.personal-info .agree-use-info .help-block p{font-size:17.6px;}
    article.personal-info .tit-primary{padding:72px 0 44px;font-size:25px;}
    article.personal-info .box-btn-primary{padding-bottom:63px;}
    article.personal-info .btn-primary{width:470px;height:110px;}

    article.box-close-event{padding:70px 0;}
    article.box-close-event h3{font-size:40px;}
    article.box-close-event .greeting {margin-top:5px;font-size:22px;}
    article.box-close-event .close-event {width:578px;height:196px;margin:25px auto 0;padding:30px 0;}
    article.box-close-event .close-event .info-date{font-size:26px;}
    article.box-close-event .close-event .txt{margin:10px 0 5px;font-size:22px;}
    article.box-close-event .close-event .link-facebook{font-size:22px;}

    article.box-complete-apply{padding:70px 0;}
    article.box-complete-apply h3{font-size:40px;}
    article.box-complete-apply .greeting {margin-top:5px;font-size:22px;}
    article.box-complete-apply .complete-apply {width:578px;height:196px;margin:25px auto 0;padding:30px 0;}
    article.box-complete-apply .complete-apply .info-date{font-size:26px;}
    article.box-complete-apply .complete-apply .txt{margin:10px 0 5px;font-size:22px;}
    article.box-complete-apply .complete-apply .link-facebook{font-size:22px;}
    article.box-complete-apply .btn-complete{width:210px;height:74px;margin:25px auto 0;font-size:39px;line-height:81px;}


    article.information{padding:82px 60px 60px;}
    article.information .info-detail{margin-top:50px;}
    article.information .info-detail ul li{margin-bottom:8px;font-size:18px;}
    article.information .info-detail ul li:before{margin-left:-10px;padding-right:5px;}
    article.information .info-detail .btn-more{display:block;width:212px;height:39px;margin:20px auto 0;}

    footer.footer{height:73px;}
    footer.footer .copyright{padding-top:37px;font-size:16px;}

    .terms {padding:75px 40px;}
    .terms .top h2{font-size:27px;}
    .terms .top p{margin-top:15px;font-size:22px;line-height:32px;}
    .terms .content{padding-top:25px;font-size:22px;}
    .terms .content ol > li {margin-top:25px;}
    .terms .content ul{margin-top:10px;}
    .terms .content ul li{margin-left:15px;line-height:32px;}
    .terms .content .space {width:22px;}
    .terms .content .inner{margin:10px 16px;font-size:20px;}
}