<li>
    <p class="tit">[WAAC] UTG 강희재 PICK상품 30만원 이상 구매 사은품</p>
    <ul class="list">
        <li class="select">
            <a href="#">
                <div class="prod"><img src="/_ui/img/m/temp/d-prod02.png" alt="사은품 썸네일" /></div>
                <div class="info">
                    <p class="t1">WAAC</p>
                    <p class="t2">강희재 모자 - 볼륨 매쉬 업</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="prod"><img src="/_ui/img/m/temp/d-prod02.png" alt="사은품 썸네일" /></div>
                <div class="info">
                    <p class="t1">WAAC</p>
                    <p class="t2">맵 스냅백(사은품명 입력정보)</p>
                </div>
            </a>
        </li>
    </ul>
</li>