{{#> mobile/layouts/popup }}
    
    {{#*inline "content"}}
      <!-- 검색 페이지 -->
      <header class="kolon-header">
            <div class="h-wrap">
                <h2 class="hidden">KOLONmall 메인메뉴</h2>
                <ul class="top-navi hs-border">
                   <li class="srch-word">
                       <input type="text" value="">
                       <a href="#" class="reset">지우기</a>
                   </li>
                   <li>
                       <a rhef="#" class="search gray">검색</a>
                   </li>
                   <li>
                        <a href="#" class="close">닫기</a>
                    </li>
                </ul>
            </div>
        </header>
        
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">
            <div class="srch-code">
                <a rhef="#">바코드 또는 QR 검색</a>
            </div>
            <article class="recomend">
                <div class="ranking">
                    <strong>인기검색어</strong>
                    <a href="#">특별한 혜택</a>
                    <a href="#">지금 딱 좋은 모자</a>
                    <a href="#">얼리써머 액세서리</a>
                    <a href="#">렌즈 대신 안경</a>
                    <a href="#">봄을 위한 대님자켓</a>
                    <a href="#">화이트 스니커즈</a>
                    <a href="#">가볍고 편안한 에코백</a>
                    <a href="#">쿠론 여름 신상</a>
                    <a href="#">시즌 오프 베스트</a>
                    <a href="#">드라마에서 본 그 슈즈</a>
                </div>
                <div class="recent">
                    <strong>최근검색어</strong>
                    <p>최근검색어가 없습니다.</p>
                </div>
            </article>
            <article class="typing">
                <ul>
                    <li><a href="#">여성 <i>스니커즈</i></a></li>
                    <li><a href="#">남성 <i>스니커즈</i></a></li>
                    <li><a href="#">Dash Cock <i>스니커즈</i></a></li>
                    <li><a href="#">Tempo Unisex <i>스니커즈</i></a></li>
                    <li><a href="#">[series;] 위빙 믹스 <i>스니커즈</i></a></li>
                    <li><a href="#">남여공용 <i>스니커즈</i> Street</a></li>
                </ul>
            </article>
        </section>
        <!-- //검색 페이지 -->


        <!-- 바코드 페이지 -->
        <!--section id="kolon-content" class="wrap-bar-code">
            <article class="bar-code">
                <div class="frame">
                    <p>프레임에 바코드 또는 QR코드를 맞춰 주세요</p>
                    <a href="#"></a>
                </div>
                <div class="camera"></div>
            </article>
        </section-->
        <!-- // 바코드 페이지 -->
    {{/inline}}
{{/mobile/layouts/popup}}

<!-- 검색 결과 페이지 -->
{{!--#> mobile/layouts/default }}
    {{#*inline "header"}}
        <header class="kolon-header">
            <div class="h-wrap">
                <h2 class="hidden">KOLONmall 메인메뉴</h2>
                <ul class="top-navi result">
                    <li>
                        <a href="javascript: history.back();" class="back">뒤로가기</a>
                    </li>
                   <li class="srch-word">
                       <input type="text" value="스니커즈">
                   </li>
                   <li>
                       <a rhef="#" class="search">검색</a>
                   </li>
                   <li>
                        <a href="#" class="close">닫기</a>
                    </li>
                </ul>
            </div>
        </header>
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content">

        <div class="prod-view-top">
            <span class="total"><i class="f-hv">246개</i>의 검색결과</span>
            <div class="btns">
                <a href="#">신상품순</a>
                <a rhef="#">상세설정</a>
            </div>
        </div>

        <article class="list2-prod">
            <ul>
                <li>
                    <a href="#">
                    <div class="prod-img">
                        <img src="http://kopimages.kolon.com/Prod_Img/SC/2017/LM1/W6DCX17106BLK_LM1.jpg" alt="" />
                    </div>
                    <div class="txt-box">
                        <span class="brand">SUCOMMABONNIE</span>
                        <span class="tit">[전지현 스니커즈] Magic 스니커즈</span>
                        <div class="btm">
                            <span class="discount">51%</span>
                            <span class="price"><i>320,000원</i>192,000원</span>
                        </div>
                        <div class="color">
                            <span><img src="/_ui/img/m/temp/c-563e66.jpg" alt=""></span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div class="prod-img">
                        <img src="http://kopimages.kolon.com/Prod_Img/SC/2017/LM1/W6DCX17106BLK_LM1.jpg" alt="" />
                    </div>
                    <div class="txt-box">
                        <span class="brand">VOILE BLANCHE</span>
                        <span class="tit">[VOILE BLANCHE] 메탈 스니커즈</span>
                        <div class="btm">
                            <span class="discount">51%</span>
                            <span class="price"><i>320,000원</i>192,000원</span>
                        </div>
                        <div class="color">
                            <span><img src="/_ui/img/m/temp/c-ae9681.jpg" alt=""></span>
                            <span><img src="/_ui/img/m/temp/c-1a191d.jpg" alt=""></span>
                            <span><img src="/_ui/img/m/temp/c-414141.jpg" alt=""></span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div class="prod-img">
                        <img src="http://kopimages.kolon.com/Prod_Img/SC/2017/LM1/W6DCX17106BLK_LM1.jpg" alt="" />
                    </div>
                    <div class="txt-box">
                        <span class="brand">SUCOMMABONNIE</span>
                        <span class="tit">[전지현 스니커즈] Magic 스니커즈</span>
                        <div class="btm">
                            <span class="discount">51%</span>
                            <span class="price"><i>320,000원</i>192,000원</span>
                        </div>
                        <div class="color">
                            <span><img src="/_ui/img/m/temp/c-ae9681.jpg" alt=""></span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div class="prod-img">
                        <img src="http://kopimages.kolon.com/Prod_Img/SC/2017/LM1/W6DCX17106BLK_LM1.jpg" alt="" />
                    </div>
                    <div class="txt-box">
                        <span class="brand">VOILE BLANCHE</span>
                        <span class="tit">[VOILE BLANCHE] 메탈 스니커즈</span>
                        <div class="btm">
                            <span class="discount">51%</span>
                            <span class="price"><i>320,000원</i>192,000원</span>
                        </div>
                        <div class="color">
                            <span><img src="/_ui/img/m/temp/c-ae9681.jpg" alt=""></span>
                            <span><img src="/_ui/img/m/temp/c-1a191d.jpg" alt=""></span>
                            <span><img src="/_ui/img/m/temp/c-414141.jpg" alt=""></span>
                        </div>
                    </div>
                    </a>
                </li>
            </ul>
        </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default--}}
<!-- // 검색 결과 페이지 -->