<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{#>title}}코오롱몰{{/title}}</title>

    {{>mobile/partials/head}}

    {{#>extrahead}}
    {{!-- Extra head conde --}}
    {{/extrahead}}
</head>
<body>
    <div class="sub kolon-wrap" id="kolon-wrap">

        {{#>header}}
        {{!-- Header conde --}}
        {{/header}}

        {{#>content}}
        {{!-- Content conde --}}
        {{/content}}

        <h2 class="hidden">KOLONmall 정책 밑 사이트 정보 영역</h2>
        <footer>
            {{>mobile/partials/footer}}
            <a href="#" class="go-top">맨 위로 이동</a>
        </footer>

        {{>mobile/partials/javascript}}

        {{#>extrajavascript}}
        {{!-- Extra javascript conde --}}
        {{/extrajavascript}}
    </div>
</body>
</html>
